<template>
  <Card :config="devicesConfig">
    <div class="device-connectivity" v-if="!!cDevice">
      <div class="tabs-device-connectivity">
        <div class="connected-table">
          <el-row>
            <el-col>
              <el-card class="connect-device-card">
                <el-table :data="devices" :style="{minHeight: itemPerPage*38 + 40 +'px',width: '100%'}" :empty-text="$t(`No Data`)">
                  <el-table-column prop="name" :label="$t('Device Name')" width="300"></el-table-column>
                  <el-table-column prop="path" :label="$t('Interface')" width="300"></el-table-column>
                  <el-table-column prop="macAddress" :label="$t('Mac Address')"></el-table-column>
                  <el-table-column :label="$t('IP Address')" prop="ipAddress"></el-table-column>
                </el-table>
                 <el-col>
                <div>
                  <el-row type="flex" justify="center" class="device-pagination">
                    <el-pagination
                      background
                      layout="prev, pager, next"
                      :total="devices.length"
                      :page-size="itemPerPage"
                      @current-change="handleCurrentChange"
                      :current-page.sync="currentPage"
                    ></el-pagination>
                  </el-row>
                </div>
              </el-col>
              </el-card>
            </el-col>
          </el-row>
        </div>
      </div>
    </div>
  </Card>
</template>
<script>
import Card from "@/components/base/card/Card";
import Table from "@/components/base/Table/Table";
import { DEVICE } from "@/store/types/getters.type";
import { FETCH_DEVICE } from "@/store/types/actions.type";
import Utils from "@/common/utils";
import { mapActions, mapGetters } from "vuex";
import { utimes } from "fs";
export default {
  components: {
    Card,
    Table
  },
  data() {
    const item = {
      name: "SSH",
      path: "Home",
      macAddress: "BC:76:70:5C:74",
      ipAddress: "192.168.1.100"
    };
    return {
      tableData: Array(20).fill(item),
      devices: [],
      cDevice: null,
      resultCount: 0,
      currentPage: 1,
      devicesConfig: {
        id: "devices-card-id",
        title: "Connected Devices",
        showHeader: true,
        showButton: false
      },
      itemPerPage: 4,
    };
  },
  computed: {
    ...mapGetters({
      DEVICE
    })
  },
  watch: {
    currentPage: {
      handler(newVal) {
        this.devices = this.paginate();
      }
    }
  },
  methods: {
    ...mapActions({
      FETCH_DEVICE
    }),
    initData() {
      if (this.DEVICE) {
        this.cDevice = Utils.copyObject(this.DEVICE);
        this.resultCount = this.DEVICE.length;
      }
    },
    fetchData() {
      this.FETCH_DEVICE({}).then(() => {
        this.cDevice = Utils.copyObject(this.DEVICE);
        this.devices = Array.from(this.cDevice ? this.cDevice : []);
        this.devices = this.paginate();
      });
    },
    handleCurrentChange(currentPage) {
      console.log("change page:" + currentPage);
      this.currentPage = currentPage;
    },
    paginate() {
      let index = (this.currentPage - 1) * this.itemPerPage;
      if (this.cDevice) {
        this.resultCount = this.cDevice.length;
        if (this.resultCount > this.itemPerPage) {
          return this.cDevice.slice(index, index + this.itemPerPage);
        } else {
          return this.cDevice.slice();
        }
      } else {
        return [];
      }
    }
  },
  filters: {},
  created() {
    this.fetchData();
  }
};
</script>
<style lang="scss">
@import "./index.scss";
</style>


