.device-connectivity {
    margin-top: 30px;
    background-color: #ffffff;
    overflow: hidden;
    color: #303133;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    .header-card:before,
    .header-card:after {
      display: table;
      content: "";
    }
    .header-card:after {
      clear: both;
    }
    .header-card h3 {
       margin-left: 80px;
    }
    .body-card {
      padding-bottom: 40px;
      .list-item {
        .name-item,
        .path-item,
        .mac-item,
        .ip-item {
          margin-top: 20px;
          font-weight: 700;
        }
      }
    }
    .device-pagination {
      padding: 20px;
    }
  
    .el-tabs__header {
      margin: 0px !important;
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active {
      background-color: #f4f4f5;
      color: #409eff;
      border-radius: 16px;
    }
    .el-pagination.is-background .el-pager li {
      border-radius: 16px;
    }
  }