<template>
  <div>
    <Card :config="wirelessConfig">
      <div class="card-info" v-if="cData">
        <div class="wrap-card-form">
          <div class="wrap-card-title-form">
            <label class="wrap-title">Network Name</label>
          </div>
          <div class="wrap-card-text-form">
            <label class="wrap-text">{{ cData.name }}</label>
          </div>
        </div>
        <div class="wrap-card-form">
          <div class="wrap-card-title-form">
            <label class="wrap-title">Security</label>
          </div>
          <div class="wrap-card-text-form">
            <label class="wrap-text">{{ cData.security.type }}</label>
          </div>
        </div>
        <div class="wrap-card-form">
          <div class="wrap-card-title-form">
            <label class="wrap-title">Password</label>
          </div>
          <div class="wrap-card-text-form">
            <InputValue
              :vdata="assignPassword(cData)"
              :attrs="{type: 'password', showPassword: true}"
              :readonly="true"
            />
          </div>
        </div>
        <div class="wrap-card-form">
          <div class="wrap-card-title-form">
            <label class="wrap-title">MAC Address</label>
          </div>
          <div class="wrap-card-text-form">
            <label class="wrap-text">{{ cData.macAddress }}</label>
          </div>
        </div>
      </div>
    </Card>
  </div>
</template>
<script>
import Card from "@/components/base/card/Card";
import Utils from "@/common/utils";
import { SECURITY_TYPE } from "@/common/constants";
import InputValue from "@/components/base/inputs/InputValue/InputValue";
export default {
  components: {
    Card,
    InputValue
  },
  props: {
    title: {
      type: String,
      required: false,
      default() {
        return "";
      }
    },
    cData: {
      type: Object,
      required: true,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      wirelessConfig: {
        id: "wireless-card-id",
        title: this.title,
        showHeader: true,
        showButton: false
      }
    };
  },
  methods: {
    assignPassword(data) {
      if (
        data.security.type === SECURITY_TYPE.WPA2_PSK ||
        data.security.type === SECURITY_TYPE.WPA2_WPA_PSK
      ) {
        return Utils.decodedString(data.security.personal.password);
      } else if (data.security.type === SECURITY_TYPE.WEP) {
        return Utils.decodedString(data.security.wep.password);
      }
      return null;
    }
  }
};
</script>

