y
<template>
  <el-Row class="start-end-template" :gutter="10" type="flex" justify="space-between">
    <el-Col :span="12">
      <ValidationProvider
        v-bind:rules="{...$props.validatorRules}"
        :name="$props.validatorName + `-start`"
        :immediate="true"
        v-slot="{flags, valid, errors}"
      >
        <el-input
          v-model="startValue"
          v-bind="$props.attrs"
          :class="{'error-input' : !valid && flags.touched}"
          @keydown.native="onKeyDown"
          @blur.native="onBlur"
        />
      </ValidationProvider>
    </el-Col>
    <div class="dash">-</div>
    <el-Col :span="12">
      <ValidationProvider
        v-bind:rules="{...$props.validatorRules}"
        :name="$props.validatorName + `-end`"
        :immediate="true"
        v-slot="{flags, valid, errors}"
      >
        <el-input
          v-model="endValue"
          v-bind="$props.attrs"
          @keydown.native="onKeyDown"
          @blur.native="onBlur"
          :class="{'error-input' : !valid && flags.touched}"
        />
      </ValidationProvider>
    </el-Col>
  </el-Row>
</template>

<script>
import { ValidationProvider } from "vee-validate";
import Utils from "@/common/utils";
export default {
  name: "StartEndPort",
  props: {
    vStart: {
      type: [String, Number],
      required: true
    },
    vEnd: {
      type: [String, Number],
      required: true
    },
    validatorRules: {
      type: Object,
      required: false,
      default() {
        return {
          required: true,
          numeric: true
        };
      }
    },
    validatorName: {
      type: String,
      required: false,
      default() {
        return "start-end-validator";
      }
    },
    attrs: {
      type: Object,
      required: false,
      default() {
        return {};
      }
    }
  },
  components: { ValidationProvider },
  watch: {
    startValue: {
      handler(newVal) {
        if (newVal === undefined || newVal === null) {
          return;
        }
        this.onStartChange(newVal);
      },
      deep: false,
      immediate: true
    },
    endValue: {
      handler(newVal) {
        if (newVal === undefined || newVal === null) {
          return;
        }
        this.onEndChange(newVal);
      },
      deep: false,
      immediate: true
    },
    $props: {
      handler() {
        this.initData();
        this.$validator.reset();
      },
      immediate: true,
      deep: true
    }
  },
  data() {
    return {
      startValue: null,
      endValue: null
    };
  },
  methods: {
    initData() {
      this.startValue = this.$props.vStart;
      this.endValue = this.$props.vEnd;
      this.$forceUpdate();
    },
    onStartChange(value) {
      if (value !== this.$props.vStart) {
        this.$emit("on-change-start", value);
      }
    },
    onEndChange(value) {
      if (value !== this.$props.vEnd) {
        this.$emit("on-change-end", value);
      }
    },
    onKeyDown(e) {
      if (e) {
        Utils.preventNonNumeric(e);
      }
    },
    onBlur() {
      // Set default if need
      this.$validator.validateAll();
    }
  },
  created() {
    this.initData();
  }
};
</script>

<style lang="scss">
@import "./index.scss";
</style>

