.input-ip-v6-template {
  .input-ip-v6-wrap {
    .input-inner {
      .input-wrap {
        display: inline-flex;
        .input-field.el-input {
          .el-input__inner {
            padding: 0 5px !important;
            text-align: center;
          }
        }
        .dash {
          text-align: center;
          padding-top: 10px;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}
