<template>
  <div class="input-ip-v6-template">
    <div class="input-ip-v6-wrap">
      <el-row class="input-inner" type="flex" justify="space-around">
        <el-col :span="4" v-for="(oct, index) in octa" :key="index">
          <ValidationProvider
            :rules="{ ...$props.validatorRules,required: true}"
            :immediate="true"
            tag="div"
            refs="octaInput"
            class="input-wrap"
            v-slot="{flags , valid, errors }"
          >
            <el-input
              class="input-field"
              v-model="oct.data"
              :class="{'error-input' : (!valid && flags.touched) && $props.showErrorMsg, 'last-input': index < octa.length-1}"
              v-bind="{...ownAttrs, disabled: (ownDisable[index])}"
              @keydown.native="e => onKeyDown(e, index)"
              @blur="e => onBlur(e, oct)"
            />
            <div class="dash" :span="1" v-if="index < octa.length-1">:</div>
          </ValidationProvider>
          <div class="input-error-message-wrap">
            <!-- Not implemented yet -->
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
/**
 * Options place on directive:
 * - vdata (required)
 * - validatorRules(optional)
 * - defaultValue (optional)
 * - attrs (optional)
 * - disabledArr (optional)
 */
import { ValidationProvider } from "vee-validate";
import Utils from "@/common/utils";

const _fields = 6; // The number of input fields
const _digits = 4; // the number of digits on a field
export default {
  name: "InputIpV6",
  components: {
    ValidationProvider
  },
  props: {
    vdata: {
      type: String,
      required: true,
      default() {
        return "";
      }
    },
    validatorRules: {
      type: Object,
      required: false,
      default() {
        return {};
      }
    },
    defaultValue: {
      type: String,
      required: false,
      default() {
        return "0000:0000:0000:0000:0000:0000";
      }
    },
    attrs: {
      type: Object,
      required: false,
      default() {
        return {};
      }
    },
    disabledArr: {
      type: Array,
      required: false,
      default() {
        return [];
      }
    },
    showErrorMsg: {
      type: Boolean,
      required: false,
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      octa: [],
      ownAttrs: {},
      ownDisable: []
    };
  },
  created() {
    this.initData();
  },
  watch: {
    ownValue: {
      handler(newVal) {
        if (newVal && newVal !== this.$props.vdata) {
          this.$emit("on-change", newVal);
        }
      }
    }
  },
  computed: {
    ownValue() {
      return this.octa
        .map(e => {
          return e.data;
        })
        .join(":");
    }
  },
  methods: {
    initData() {
      const value =
        this.$props.vdata && this.$props.vdata.length > 0
          ? this.$props.vdata
          : this.$props.defaultValue;
      const vArray = value.split(":");
      vArray.forEach(oct => {
        let item = {
          data: oct
        };
        this.octa.push(item);
        this.ownDisable.push(false);
      });
      this.ownAttrs = { ...this.$props.attrs, maxlength: _digits };
      if (this.$props.disabledArr && this.$props.disabledArr.length) {
        let vDiable = Utils.copyObject(this.$props.disabledArr);
        vDiable = vDiable.concat(this.ownDisable);
        // take 6 elements
        this.ownDisable = vDiable.slice(0, _fields);
      }
    },
    onKeyDown(e, index) {
      if (!e) {
        return;
      }
      const regex = /[^A-Fa-f0-9]/gi;
      const code = e.key;
      if (regex.test(code)) {
        Utils.preventInputKeydown(e);
      }
    },
    onBlur(e, self) {
      if (!e) {
        return;
      }
      if (self === null || self === undefined) {
        return;
      }
      const cValue = self.data;
      if (cValue) {
        let nValue = "0000" + cValue;
        const vLength = nValue.length;
        nValue = nValue.substr(vLength - _digits, _digits); // take 4 digits
        this.$set(self, "data", nValue);
      }
    }
  }
};
</script>
<style lang='scss'>
@import "./index.scss";
</style>