<template>
  <div>
    <ViewTemplate :title="title" :tabData="tabData" :activeName="tabData[0].id" />
  </div>
</template>
<script>
import ViewTemplate from "@/components/common/View/ViewTemplate";
import IpPortFiltering from "@/components/common/IpPortFiltering/IpPortFiltering";
import MacFiltering from "@/components/common/MacFiltering/MacFiltering";
export default {
  name: "VInternet",
  components: {
    ViewTemplate,
    IpPortFiltering,
    MacFiltering
  },
  data() {
    return {
      activeName: "macFiltering",
      title: {
        mainTitle: "Network > Internet",
        subTitle: "You can set the overall network environment."
      },
      tabData: [
        {
          id: "macFiltering",
          label: "advanced_filtering_mac_filtering",
          component: [MacFiltering, MacFiltering]
        },
        {
          id: "ipPortFiltering",
          label: "advanced_filtering_ip_port_filtering",
          component: [IpPortFiltering]
        },
        {
          id: "ipPortFiltering1",
          label: "advanced_filtering_ip_port_filtering",
          component: [IpPortFiltering]
        }
      ]
    };
  },
  methods: {
    handleClick() {}
  }
};
</script>
<style lang="scss">
</style>