<template>
  <div class="view-inner security">
    <div class="view-title">
      <el-Row>
        <el-Col :span="18" class="title-header left">
          <h2 class="title-page" tabindex="0">{{$t('advanced_filtering_title')}}</h2>
          <p class="sub-title-page" tabindex="0">{{$t('advanced_filtering_subtitle')}}</p>
        </el-Col>
        <el-Col :span="6">
          <ViewStep
            :default="currentTab"
            :listStep="dataTab"
            @on-change=" (id) => onChangeTab(id)"
          />
        </el-Col>
      </el-Row>
    </div>
    <div class="view-container">
      <IpPortFiltering v-if="currentTab === 2" :key="currentTab" />
      <MacFiltering v-if="currentTab === 1" :key="currentTab" />
    </div>
  </div>
</template>

<script>
import IpPortFiltering from "@/components/common/IpPortFiltering/IpPortFiltering";
import ViewStep from "@/components/base/step/ViewStep";
import MacFiltering from "@/components/common/MacFiltering/MacFiltering";

const dataTab = [
  {
    id: 1,
    title: "advanced_filtering_mac_filtering"
  },
  {
    id: 2,
    title: "advanced_filtering_ip_port_filtering"
  }
];

export default {
  components: {
    IpPortFiltering,
    MacFiltering,
    ViewStep
  },
  data() {
    return {
      currentTab: 2,
      dataTab: dataTab
    };
  },
  methods: {
    onChangeTab(id) {
      this.currentTab = id;
    }
  }
};
</script>
<style lang="scss">
</style>

