.step-wrap {
  height: 100px;
  .title {
    padding-top: 50px;
    text-align: center;
    color: $color-text-primary;
    &.active {
      color: $color-text-active;
      font-weight: 700;
    }
    span {
      cursor: pointer;
    }
  }
  .dash {
    margin-top: 8px;
    height: 2px;
    width: 100%;
    background: $color-text-primary;
    &.active {
      background: $color-text-active;
    }
  }
}
