<template>
  <div>
    <el-Row type="flex" justify="space-around" :gutter="0">
      <el-Col :span="24 / (dataTab.length)" v-for="(tab, index) in dataTab" :key="index">
        <div class="step-wrap">
          <div class="title" :class="{'active' : tab.id === currentTab}">
            <span @click.prevent="() => onChangeTab(tab.id)">{{$t(tab.title)}}</span>
          </div>
          <div class="dash" :class="{'active' : tab.id === currentTab}"></div>
        </div>
      </el-Col>
    </el-Row>
  </div>
</template>
<script>
export default {
  name: "ViewStep",
  components: {},
  props: {
    listStep: {
      type: Array,
      required: false,
      default() {
        return [];
      }
    },
    default: {
      type: Number,
      required: false,
      default() {
        return null;
      }
    }
  },
  data() {
    return {
      dataTab: [],
      currentTab: 1
    };
  },
  created() {
    this.initData();
  },
  methods: {
    initData() {
      this.dataTab = this.$props.listStep;
      if (this.$props.default) {
        this.currentTab = this.$props.default;
      }
    },
    onChangeTab(id) {
      if (id === null || id === undefined) {
        return;
      }
      this.currentTab = id;
      this.$emit("on-change", id);
    }
  }
};
</script>
<style lang="scss">
@import "./index.scss";
</style>