<template>
  <div
    class="custom-table-template"
    :id="config.id ? config.id : ''"
    :class="config.className ? config.className : ''"
    :ref="config.id"
  >
    <div class="table-content">
      <div
        class="custom-table-header"
        :class="config.headerClass ? config.headerClass : ''"
        v-if="config.showHeader"
      >
        <h2 v-html="$t(config.title)"></h2>
      </div>
      <div class="custom-table-body">
        <el-row>
          <el-table :data="config.data" :empty-text="$t(`No Data`)">
            <el-table-column
              v-for="column in columns"
              :key="column.label"
              :prop="column.prop"
              :label="column.label"
              :formatter="column.formatter"
              :min-width="column.minWidth"
            ></el-table-column>
            <slot></slot>
            <el-table-column fixed="right" v-if="showIconButton">
              <template slot-scope="scope">
                <div class="wrap-icon-button">
                  <i class="el-icon-edit-outline" @click="handleEdit(scope.$index, scope.row)"></i>
                  <i class="el-icon-delete" @click="deleteRow(scope.$index, scope.row)"></i>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </el-row>
        <el-row>
          <el-col>
            <div>
              <el-row type="flex" justify="center" class="table-pagination">
                <el-pagination
                  background
                  layout="prev, pager, next"
                  :total="config.data.length"
                  :page-size="4"
                  :data="config.data"
                  @current-change="handleCurrentChange"
                  :current-page.sync="currentPage"
                ></el-pagination>
              </el-row>
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="button-wrap center custom-dialog-footer" v-if="config.showButton">
        <div style=" clear: both;"></div>
        <el-col :offset="10" :span="4" class="buton-wrap">
          <el-button
            type="plain"
            :disabled="config.data.length >= maxRules"
            @click.prevent="() => openAdd(true)"
          >{{$t('common_button_add', {available: config.data !== undefined ? config.data.length : 0, max: maxRules})}}</el-button>
        </el-col>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Custom",
  props: {
    config: {
      type: Object,
      default() {
        return {};
      },
      required: true
    },
    columns: {
      type: Array,
      required: true,
      default() {
        return [];
      }
    }
  },
  data() {
    return {
      defaultValue: {},
      showCloseIcon: true,
      showButton: false,
      showHeader: true,
      showIconButton: true,
      currentPage: 1,
      maxRules: 10
    };
  },
  methods: {
    handleCurrentChange(currentPage) {
      console.log("change page:" + currentPage);
      this.currentPage = currentPage;
    },
    paginate() {
      let index = (this.currentPage - 1) * itemPerPage;
      if (this.cDevice) {
        this.resultCount = this.cDevice.length;
        if (this.resultCount > itemPerPage) {
          return this.cDevice.slice(index, index + itemPerPage);
        } else {
          return this.cDevice.slice();
        }
      } else {
        return [];
      }
    },
    handleEdit(index, row) {
      this.$emit("on-edit", row.index);
    },
    deleteRow(index, row) {
      this.$emit("on-delete", index);
    }
  }
};
</script>

<style lang="scss">
.table-content {
  padding: 20px;
  margin-top: 50px;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #ffffff;
  overflow: hidden;
  color: #303133;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  .table-pagination {
    padding: 15px;
  }

  .el-tabs__header {
    margin: 0px !important;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #f4f4f5;
    color: #409eff;
    border-radius: 16px;
  }
  .el-pagination.is-background .el-pager li {
    border-radius: 16px;
  }
}
</style>
