.login-template .login-container {
  //   margin-top: 30vh;
  position: relative;
  .login-logo {
    height: 20vh;
    min-height: 20vh;
    .logo {
      img {
        height: 100px;
      }
    }
  }
  .login-form {
    width: 60%;
    margin: auto;
    .input-wrap {
      .form-wrap {
        .form-title {
          padding-top: 10px;
          text-align: left;
        }
      }
    }
    .error-wrap {
      padding-top: 10vh;
      .error-message {
        font-size: $font-size-text;
        color: $color-text-error;
      }
    }
    .button-wrap.login {
      margin-top: 10vh;
      .el-button {
        width: 50%;
      }
    }
  }
}
