<template>
  <div class="login-template">
    <el-row class="login-container" type="flex" justify="center">
      <el-Col :xs="8" :sm="10" :md="10" :lg="12" :xl="14" class>
        <el-Row class="login-logo">
          <el-Col :span="4">
            <div class="logo">
              <img src="@/assets/images/img_logo.png" alt="HUMAX logo" />
            </div>
          </el-Col>
        </el-Row>
        <ValidationObserver class="login-form" tag="el-Row" v-slot="{invalid}" ref="login-form">
          <el-Col class="input-wrap">
            <el-Row class="form-wrap" type="flex" justify="space-between">
              <el-Col :span="8" class="form-title">
                <span>{{"User Name"}}</span>
              </el-Col>
              <el-Col :span="16" class="form-input">
                <InputValue
                  :vdata="cdata.id"
                  :showErrorMsg="true"
                  :maxLength="32"
                  :rules="{required: true}"
                  placeholder="Enter the user ID"
                  id
                  class="login-id-input-value"
                  validatorName="login-input-value-label"
                  @on-change="(value) => cdata.id = value"
                />
              </el-Col>
            </el-Row>
            <el-Row class="form-wrap" type="flex" justify="space-between">
              <el-Col :span="8" class="form-title">{{"Password"}}</el-Col>
              <el-Col :span="16" class="form-input">
                <InputValue
                  :vdata="cdata.password"
                  :attrs="{type: 'password', showPassword: true}"
                  :showErrorMsg="true"
                  :maxLength="32"
                  :rules="{required: true}"
                  placeholder="Enter the password"
                  id
                  class="login-id-input-value"
                  validatorName="login-input-value-label"
                  @on-change="(value) => cdata.password = value"
                />
              </el-Col>
            </el-Row>
            <el-Row class="form-wrap" type="flex" justify="space-between">
              <el-Col class="error-wrap" v-if="loginError.show">
                <span class="error-message">{{$t(loginError.message)}}</span>
              </el-Col>
            </el-Row>
          </el-Col>
          <el-Col class="button-wrap login">
            <el-button
              :disabled="invalid"
              type="primary"
              @click.prevent="onLogin"
            >{{$t("login_text_button_login")}}</el-button>
          </el-Col>
        </ValidationObserver>
      </el-Col>
    </el-row>
  </div>
</template>
<script>
import { ValidationObserver } from "vee-validate";
import { LOGIN } from "@/store/types/actions.type";
import InputValue from "@/components/base/inputs/InputValue/InputValue";
import Utils from "@/common/utils";
import Hash_Gen from "@/common/hash-gen";
import { mapActions } from "vuex";
import { COOKIE_ACCESS_TOKEN } from "@/common/constants";
export default {
  name: "Login",
  components: {
    ValidationObserver,
    InputValue
  },
  data() {
    return {
      cdata: {
        id: "admin",
        password: "humax123"
      },
      loginError: {
        message: "login_error_invalid_user",
        show: false
      }
    };
  },
  computed: {},
  methods: {
    ...mapActions({ LOGIN }),
    onLogin() {
      const encPassword = Hash_Gen.getPasswordHash(
        this.cdata.id,
        this.cdata.password
      );
      const stringTrans = Utils.logicStringPassword(this.cdata.id, encPassword);
      const stringEncode = Utils.encodedString(stringTrans);
      const postData = {
        userName: this.cdata.id,
        password: stringEncode
      };
      this.LOGIN({
        postData: postData,
        options: {
          acceptUnAuth: true,
          showLoading: true
        }
      })
        .then(() => {
          this.$router.push("/home");
        })
        .catch(err => {
          if (err.data.error.code === 2002) {
            this.loginError.show = true;
            this.loginError.message = "login_error_invalid_user";
          } else if (err.data.error.code === 422) {
            this.loginError.show = true;
            a.errMsg = "login_error_invalid_user_disable_login";
            // a.blockPeriod = err.data.block_period;
            // const currentDate = new Date();
            // a.timeStamp = currentDate.getTime() + a.blockPeriod * 60 * 1000;
            // a.counterLogin();
          } else {
            this.loginError.show = false;
            this.SET_TOKEN(Utils.getCookie(COOKIE_ACCESS_TOKEN));
            this.$router.push("/home");
          }
        });
    }
  }
};
</script>

<style lang="scss">
@import "./index.scss";
</style>