<template>
  <div class="view-wrap-template">
    <div class="view-wrap-title">
      <h2 class="title-page">{{$t(ownTitle.mainTitle)}}</h2>
      <p class="sub-title-page">{{$t(ownTitle.subTitle)}}</p>
    </div>
    <el-tabs v-model="ownActiveName" @tab-click="handleClick" :stretch="false">
      <el-tab-pane
        :label="$t(item.label)"
        :name="item.id"
        :disabled="item.disabled"
        v-for="(item, index) in ownTabData"
        :key="index"
      >
        <template v-if="ownActiveName === item.id">
          <component :is="component" v-for="(component, index) in item.component" :key="index"></component>
        </template>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import IpPortFiltering from "@/components/common/IpPortFiltering/IpPortFiltering";
import MacFiltering from "@/components/common/MacFiltering/MacFiltering";
export default {
  name: "VInternet",
  components: {
    IpPortFiltering,
    MacFiltering
  },
  props: {
    title: { type: Object, required: true },
    tabData: { type: Array, required: true },
    activeName: {
      type: String,
      required: false,
      default() {
        return "";
      }
    }
  },
  data() {
    return {
      ownActiveName: "",
      ownTitle: {},
      ownTabData: []
    };
  },
  created() {
    this.ownTitle = this.$props.title;
    this.ownTabData = this.$props.tabData;
    if (this.$props.activeName !== "") {
      this.ownActiveName = this.$props.activeName;
    } else if (this.$props.tabData.length) {
      this.ownActiveName = this.$props.tabData[0].id;
    }
  },
  methods: {
    handleClick() {}
  }
};
</script>
<style lang="scss">
.view-wrap-template {
  width: 92%;
  margin: auto;
  position: relative;
  .view-wrap-title {
    text-align: left;
    position: absolute;
    top: -50px;
  }
  .el-tabs {
    margin-top: 30px;
    .el-tabs__header {
      .el-tabs__nav-wrap {
        &::after {
          // background: unset;
        }
        .el-tabs__nav {
          float: right;
          border-bottom: 1px solid #ccc;
        }
        .el-tabs__active-bar{
          // width: 125px !important;
        }
        .el-tabs__item{
          // padding-left: 0px !important;
        }
      }
    }
  }
}
</style>