.input-value-label {
  outline: 0;
  width: 100%;
  .form-group {
    width: 100%;
    margin-bottom: 0;
    .input-value-with-unit {
      width: 100%;
      .el-input {
        &.errorInput {
        }
        input:read-only {
          border: none;
          padding: 0;
        }
      }
    }
    .after-bottom-text-label {
      float: right;
      font-size: 11px;
      color: #a6a6a6;
      text-align: right;
      margin-top: 2px;
      &.text-length {
        width: 100%;
        font-weight: 400;
        font-size: 11px;
        color: #a6a6a6;
        position: absolute;
        text-align: right;
      }
    }
    .input-value-error-with-unit {
      position: absolute;
      .error-message {
        color: $color-text-error;
        font-size: 11px;
        font-weight: 400;
        text-align: left;
      }
    }
  }
}
