<template>
  <div class="input-value-label-template">
    <div class="input-value-label" :class="className">
      <ValidationProvider
        :name="$props.validatorName"
        :rules="$props.validatorRules"
        :immediate="true"
        :ref="$props.validatorName"
        class="input-value-label-inner form-group"
        tag="div"
        v-slot="{flags , valid, errors }"
      >
        <div class="input-value-with-unit">
          <div v-if="unit" class="after-top-text-label">{{$t(unit)}}</div>
          <el-input
            v-model="value"
            v-bind="$props.attrs"
            name="input-field"
            :readonly="$props.readonly"
            :class="{'error-input' : ((!valid && flags.touched) || customError.show)&&showErrorMsg ,  'readonly': readonly}"
            :placeholder="$t(placeholder)"
            @focus="() => hasFocus = true"
            @blur="() => hasFocus = false"
            @keydown=" (e) => onKeyDown(e)"
            @blur.prevent="onBlur"
          />
          <div class="input-value-label-with-unit" v-if="showLabel">
            <div class="after-bottom-text-label" v-if="showAfterText">
              <div v-if="customText">
                <span>{{$t(customText, {min: minValue, max: maxValue, defaultValue: defaultValue})}}</span>
              </div>
              <div ng-if="type === 'hexadecimal'">
                <span>{{$t(hexadecimalText)}}</span>
              </div>
            </div>
            <div class="after-bottom-text-label text-length" v-if="showTextLength && valid">
              <span>{{value.length}}/{{$props.maxLength}}</span>
            </div>
          </div>
          <div class="input-value-error-with-unit" v-if="showErrorMsg && flags.touched">
            <div class="error-message">
              <span>{{$t(errors[0])}}</span>
            </div>
          </div>
        </div>
      </ValidationProvider>
    </div>
  </div>
</template>

<script>
/**
 * Options place on directive:
 * - vdata (required)
 * - validatorRules (required)
 * - require (optional)
 * - type (optional)
 * - id (optional)
 * - placeholder (optional)
 * - showLabel (optional)
 * - showErrormsg (optional)
 * - minValue (optional)
 * - maxValue (optional)
 * - disabled (optional)
 * - defaultValue (optional)
 * - isShowDefault (optional)
 * - numberOnly (optional)
 * - readonly (optional)
 * - className (optional)
 * - minLength (optional)
 * - maxLength (optional)
 * - validatorName (optional)
 * - showTextLength (optional)
 */
import Utils from "@/common/utils";
import { EVENT_BUS } from "@/common/constants";
import { ValidationProvider } from "vee-validate";
export default {
  name: "InputValueLabel",
  components: {
    ValidationProvider
  },
  props: {
    attrs: {
      type: Object,
      required: false,
      default() {
        return {};
      }
    },
    unit: {
      type: String,
      required: false,
      default() {
        return null;
      }
    },
    vdata: {
      type: [String, Number],
      required: true,
      default() {
        return "";
      }
    },
    validatorRules: {
      type: [String, Object],
      required: false,
      default() {
        return "";
      }
    },
    require: {
      type: [Boolean, String],
      required: false,
      default() {
        return true;
      }
    },
    type: {
      type: String,
      required: false,
      default() {
        return "text";
      }
    },
    id: {
      type: String,
      required: false,
      default() {
        return "input-label-" + Utils.randomString(5) + "-id";
      }
    },
    placeholder: {
      type: String,
      required: false,
      default() {
        return "";
      }
    },
    showLabel: {
      type: [Boolean, String],
      required: false,
      default() {
        return false;
      }
    },
    showAfterText: {
      type: [Boolean, String],
      required: false,
      default() {
        return false;
      }
    },
    customText: {
      type: [String],
      required: false,
      default() {
        return null;
      }
    },
    hexadecimalText: {
      type: [String],
      required: false,
      default() {
        return null;
      }
    },
    showErrorMsg: {
      type: [Boolean, String],
      required: false,
      default() {
        return false;
      }
    },
    minValue: {
      type: [Number, Boolean],
      required: false,
      default() {
        return false;
      }
    },
    maxValue: {
      type: [Number, Boolean],
      required: false,
      default() {
        return false;
      }
    },
    disabled: {
      type: Boolean,
      required: false,
      default() {
        return false;
      }
    },
    defaultValue: {
      type: [String, Number],
      required: false,
      default() {
        return undefined;
      }
    },
    isShowDefault: {
      type: Boolean,
      required: false,
      default() {
        return false;
      }
    },
    numberOnly: {
      type: Boolean,
      required: false,
      default() {
        return false;
      }
    },
    readonly: {
      type: Boolean,
      required: false,
      default() {
        return false;
      }
    },
    className: {
      type: String,
      required: false,
      default() {
        return "input-value-class-optional";
      }
    },
    customError: {
      type: Object,
      required: false,
      default() {
        return {
          show: false,
          msg: ""
        };
      }
    },
    minLength: {
      type: Number,
      required: false,
      default() {
        return 1;
      }
    },
    maxLength: {
      type: Number,
      required: false,
      default() {
        return 32;
      }
    },
    validatorName: {
      type: String,
      required: false,
      default() {
        return "input-value-label-validator";
      }
    },
    showTextLength: {
      type: Boolean,
      required: false,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      value: "",
      maxlength: null,
      customMessage: {
        show: false,
        msg: ""
      },
      hasFocus: false
    };
  },
  mounted() {},
  computed: {},
  watch: {
    value: {
      handler() {
        this.onchange();
      },
      deep: true,
      immediate: true
    },
    $props: {
      handler() {
        this.changeData();
      },
      immediate: true,
      deep: true
    }
  },
  methods: {
    initData() {
      if (this.$props.vdata !== null) {
        if (this.defaultValue !== undefined && this.$props.vdata === "") {
          this.value = this.defaultValue;
        } else if (this.$props.vdata !== "") {
          this.value = this.$props.vdata;
        } else {
          this.value = "";
        }
      } else {
        this.value = "";
      }
      this.maxlength =
        this.$props.type === "number"
          ? this.$props.maxValue && typeof this.$props.maxValue === "number"
            ? Utils.convertString(this.$props.maxValue).length
            : null
          : this.$props.maxLength;
    },
    changeData() {
      if (this.$props.vdata !== null) {
        if (this.$props.vdata !== "") {
          this.value = this.$props.vdata;
        } else {
          this.value = "";
        }
      } else {
        this.value = "";
      }
      this.maxlength =
        this.$props.type === "number"
          ? this.$props.maxValue && typeof this.$props.maxValue === "number"
            ? Utils.convertString(this.$props.maxValue).length
            : null
          : this.$props.maxLength;
    },
    onBlur() {
      let inputValue = this.value;
      let valueLength = this.value.length;
      if (this.type === "number") {
        if (this.defaultValue !== undefined && valueLength === 0) {
          this.value = this.defaultValue;
        } else if (!this.defaultValue && valueLength === 0) {
          this.value = this.minValue;
        } else if (parseInt(inputValue) > this.maxValue) {
          this.value = this.maxValue;
        } else if (parseInt(inputValue) < this.minValue) {
          this.value = this.minValue;
        } else {
          this.value = Utils.convertNumber(inputValue);
        }
      } else {
        // type default is text
        if (this.defaultValue !== undefined && valueLength === 0) {
          this.value = Utils.convertString(this.defaultValue);
        }
      }
      this.$validator.validate();
      this.$emit("on-blur");
    },
    onchange() {
      if (!Utils.compareObjects(this.$props.vdata, this.value)) {
        this.$emit("on-change", this.value);
      }
    },
    onKeyDown(e) {
      if (!e) {
        return;
      }
      this.$emit("on-keyDown", e);
      if ((this.type === "number" || this.numberOnly) && e) {
        Utils.preventNonNumeric(e);
      }
    }
  },
  created() {
    this.initData();
  },
  beforeUpdate() {},
  destroyed() {
    this.value = "";

    this.maxlength = null;
  }
};
</script>

<style lang="scss">
@import "./index.scss";
</style>
