<template>
  <div class="header-wrap">
    <!-- Temp -->
    <el-Row type="flex" justify="space-between">
      <el-Col :xs="20" :sm="20" :md="8" :lg="8" :xl="8" class="header-status">
        <span class="status-item" v-for="(item, index) in listStatus" :key="index">{{item}}</span>
      </el-Col>
      <el-Col :span="4" class="header-system">Router Mode | Help</el-Col>
    </el-Row>
  </div>
</template>

<script>
export default {
  name: "Footer",
  components: {},
  data() {
    return {
      listStatus: ["WAN", "LAN", "LAN2", "USB"]
    };
  },
  methods: {}
};
</script>

<style lang="scss">
@import "./index.scss";
</style>

