.header-wrap {
  max-width: $width-inner;
  margin: auto;
  padding: 10px 0px;
  font-size: $font-size-text;
  color: $color-text-primary;
  .header-status {
    text-align: left;
    .status-item {
      padding: 0px 10px;
      &::before {
      }
    }
  }
  .header-system {
    text-align: right;
  }
}
