<template>
  <div
    class="custom-card-template"
    :id="config.id ? config.id : ''"
    :class="config.className ? config.className : ''"
    :ref="config.id"
  >
    <div class="card-content">
      <div
        class="custom-card-header"
        :class="config.headerClass ? config.headerClass : ''"
        v-if="config.showHeader"
      >
        <h2 v-html="$t(config.title)"></h2>
      </div>
      <slot></slot>
      <div class="button-wrap center custom-dialog-footer" v-if="config.showButton">
        <button
          class="active-button confirm"
          @click.prevent="onClickConfirm"
        >{{$t(config.confirmButtonText)}}</button>
        <button
          class="active-button cancel"
          @click.prevent="onClickCancel"
        >{{$t(config.cancelButtonText)}}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Custom",
  props: {
    config: {
      type: Object,
      default() {
        return {};
      },
      required: true
    }
  },
  data() {
    return {
      defaultValue: {
        showCloseIcon: true,
        showButton: true,
        showHeader: true,
        confirmButtonText: "common_ui_dialog_btn_ok",
        cancelButtonText: "common_ui_dialog_btn_cancel"
      }
    };
  },
  methods: {
    onClickConfirm() {
      if (this.config.onConfirm) {
        this.config.onConfirm();
      }
    },
    onClickCancel() {
      if (this.config.onCancel) {
        this.config.onCancel();
      }
    }
  }
};
</script>

<style lang="scss">
@import "./index.scss";
</style>
