
.custom-card-template {
  background-color: $common-white;
  min-height: 334px;
  text-align: left;
  margin-top: 5px;
  .card-content {
    padding: 10px 15px;
    .custom-card-header {
      h2 {
        margin-bottom: 20px;
      }
    }
    .card-info {
      .wrap-card-form {
        margin-bottom: 15px;
        .wrap-card-title-form {
          margin-bottom: 5px;
          .wrap-title {
            color: #ccc;
            font-size: 14px;
          }
        }
        .wrap-card-text-form {
          .wrap-text {
            font-weight: 700;
            font-size: 15px;
          }
        }
      }
    }
  }
}