<template>
  <div class="dialog-template custom-dialog-template">
    <el-dialog :visible.sync="config.visible" v-bind="ownConfig">
      <slot name="main"></slot>
      <el-dialog v-if="nestedDialog" v-bind="ownNestedConfig" class="nested-dialog-template">
        <el-Row type="flex" justify="center">
          <el-Col class="nested-message">
            <span class="message" v-html="$t(ownNestedConfig.message)"></span>
          </el-Col>
        </el-Row>
        <slot name="nested"></slot>
        <el-Row class="dialog-nested-footer-button-wrap" type="flex" justify="center" :gutter="30">
          <el-Col :span="6">
            <el-button
              v-if="showNestedButton"
              type="plain right"
              @click.prevent="onClickOKNested"
            >OK</el-button>
          </el-Col>
          <el-Col :span="6">
            <el-button
              v-if="showNestedButton"
              type="primary left"
              @click.prevent="onClickCancelNested"
            >Cancel</el-button>
          </el-Col>
        </el-Row>
      </el-dialog>
    </el-dialog>
  </div>
</template>
<script>
export default {
  name: "DialogBase",
  props: {
    config: {
      type: Object,
      required: false,
      default() {
        return {};
      }
    },
    nestedDialog: {
      type: Boolean,
      required: false,
      default() {
        return false;
      }
    },
    nestedDialogConfig: {
      type: Object,
      required: false,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      ownConfig: this.$props.config,
      ownNestedConfig: this.$props.nestedDialogConfig,
      showNestedButton: true
    };
  },
  methods: {
    initData() {
      if (this.ownNestedConfig.showButton) {
        this.ownNestedConfig = this.ownNestedConfig.showButton;
      }
    },
    onClickOKNested() {
      if (this.$props.nestedDialog && this.ownNestedConfig.onClickOK) {
        this.ownNestedConfig.onClickOK();
      }
    },
    onClickCancelNested() {
      if (this.$props.nestedDialog && this.ownNestedConfig.onClickCancel) {
        this.ownNestedConfig.onClickCancel();
      } else {
        this.ownNestedConfig.visible = false;
      }
    }
  },
  created() {
    this.initData();
  }
};
</script>
<style lang="scss">
@import "./index.scss";
</style>
