.card-container {
  padding: 20px 0px;
  width: 100%;
  .el-card {
    &.left {
      text-align: left;
    }
  }
}
td.text-t-upper {
  text-transform: uppercase;
}

.buton-wrap {
  margin-top: 20px;
  display: inline-flex;
  justify-content: space-around;
  .action-button {
    width: 150px;
  }
}
.add-form-wrap {
  padding: 20px 0px;
  .add-form-title {
    font-size: $font-size-title;
    font-weight: 700;
    text-align: left;
  }
  .add-form-container {
    padding: 20px 0px;
    .add-form-item {
      min-height: 55px;
      padding: 10px 0px;
      float: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .form-title {
        float: left;
        text-align: left;
        display: table;
        table-layout: fixed;
        &.float-right {
          float: right;
          text-align: right;
        }
      }
      .form-input {
        float: left;
        display: table;
        table-layout: fixed;
        .ip-port-start-end {
          width: 50%;
        }
      }
      &.dash-test {
        .el-form-item__content {
          width: 150px !important;
        }
      }
    }
  }
  .select-full {
    width: 100%;
  }
}
