/* eslint-disable */
<template>
  <div class="card-container" v-if="cdata">
    <el-card shadow="always" class="left">
      <el-row slot="header">
        <el-col :span="12">{{$t('advanced_filtering_ip_port_filtering')}}</el-col>
        <el-col :span="12" class="right">
          <!-- <CommonSwitch :active-color="`$common-active`" switchType="primary" :vdata="true"></CommonSwitch> -->
        </el-col>
      </el-row>
      <el-table :data="cdata.rules" style="width: 100%" :empty-text="$t(`No Data`)">
        <!-- Show with index -->
        <el-table-column :label="$t('No.')" width="50" column-key="id" type="index" />
        <!-- show with id -->
        <!-- <el-table-column prop="id" :label="$t('No.')" width="50" column-key="id" /> -->
        <el-table-column width="80" column-key="active" :label="$t('On/Off')">
          <template slot-scope="scope">
            <CommonSwitch
              :active-color="`$common-active`"
              switchType="primary"
              :vdata="scope.row.active"
              @on-change="(value) => onToggleChange(value, scope.row)"
            ></CommonSwitch>
          </template>
        </el-table-column>
        <el-table-column prop="name" :label="$t('Descripion')" width="180" column-key="name" />
        <el-table-column
          prop="ipAddress"
          :label="$t('Source IP Address')"
          width="180"
          column-key="ipAddress"
        />
        <el-table-column
          prop="ipAddress"
          :label="$t('Destination IP Address')"
          width="180"
          column-key="ipAddress"
        />
        <el-table-column prop="port" :label="$t('Port (Start-End)')" width="140" column-key="port" />
        <el-table-column
          class-name="text-t-upper"
          prop="protocol"
          :label="$t('Protocol')"
          width="100"
          column-key="protocol"
        />
        <el-table-column align="right">
          <template slot="header"></template>
          <template slot-scope="scope">
            <div class="icon-table-wrap">
              <i
                class="el-icon-edit-outline"
                :class="`icon large`"
                @click.prevent="onEditRule(scope.row)"
              ></i>
              <i
                class="el-icon-delete"
                :class="`icon large`"
                @click.prevent="onDeleteRule(scope.row)"
              ></i>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <div style=" clear: both;"></div>
      <el-Row>
        <el-col :offset="10" :span="4" class="buton-wrap">
          <el-button
            type="plain"
            :disabled="isDisableAddButton"
            @click.prevent="() => openAdd(true)"
          >{{$t('common_button_add', {available: cdata.rules !== undefined ? cdata.rules.length : 0, max: cdata.maxRules})}}</el-button>
        </el-col>
      </el-Row>
      <!--  -->
      <div v-if="isAdd && dataAdd" class="add-form-wrap">
        <el-Row class="add-form-title">
          <el-Col>{{$t('Add a rule')}}</el-Col>
        </el-Row>
        <el-Row class="add-form-container">
          <el-Col :span="18">
            <el-form
              ref="ruleAddForm"
              :rules="rulesForm"
              :model="dataAdd"
              label-position="left"
              label-width="33%"
            >
              <el-form-item label="Descripion" prop="name">
                <el-input placeholder="Enter the description" v-model="dataAdd.name"></el-input>
              </el-form-item>
              <el-form-item label="Source IP Address" prop="ipAddress">
                <el-input placeholder="Enter the Ipaddress" v-model="dataAdd.ipAddress"></el-input>
              </el-form-item>
              <el-form-item label="Port (Start-End)" prop="port">
                <el-input placeholder="Enter the Port" v-model="dataAdd.port"></el-input>
              </el-form-item>
              <el-form-item label="Protocol" prop="protocol">
                <el-select v-model="dataAdd.protocol" placeholder="Select" class="select-full">
                  <el-option
                    v-for="item in listProtocol"
                    :key="item.value"
                    :label="item.text"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item>
                <el-Row class="add-form-button">
                  <el-Col :offset="8" :span="8">
                    <el-Row type="flex" justify="center" :gutter="30">
                      <el-Col :span="12" class="buton-wrap">
                        <el-button
                          type="primary"
                          class="action-button"
                          :loading="localLoading"
                          @click.prevent="() => onClickSave('ruleAddForm')"
                        >{{$t('text_button_apply')}}</el-button>
                      </el-Col>
                      <el-Col :span="12" class="buton-wrap">
                        <el-button
                          type="plain"
                          class="action-button"
                          @click.prevent="() => openAdd(false)"
                        >{{$t('common_button_cancel')}}</el-button>
                      </el-Col>
                    </el-Row>
                  </el-Col>
                </el-Row>
              </el-form-item>
            </el-form>
          </el-Col>
        </el-Row>
      </div>
      <div style="clear: both;"></div>
      <DialogBase
        v-if="isEdit"
        :config="editDialogConfig"
        :nestedDialog="true"
        :nestedDialogConfig="nestedDialogConfig"
      >
        <template slot="main">
          <ValidationObserver class="dialog-content" tag="el-Row" v-slot="{invalid}" ref="editForm">
            <el-Col :offset="4" :span="16">
              <el-Row class="form-wrap" :gutter="30">
                <el-Col :span="8" class="form-title right">{{"Descripion"}}</el-Col>
                <el-Col :span="16" class="form-input">
                  <InputValue
                    :vdata="dataEdit.name"
                    :showErrorMsg="true"
                    :maxLength="32"
                    :validatorRules="{required: true, validLength : [dataEdit.port]}"
                    placeholder="advanced_port_triggering_page_col_description_placeholder"
                    id
                    class="ip-port-filtering-input-value-label"
                    validatorName="ip-port-filtering-input-value-label-validator"
                    @on-change="(value) => dataEdit.name = value"
                  />
                </el-Col>
              </el-Row>
              <el-Row class="form-wrap" :gutter="30">
                <el-Col :span="8" class="form-title right">{{"Source IP Address"}}</el-Col>
                <el-Col :span="16" class="form-input">
                  <InputIpV6
                    :vdata="dataEdit.ipV6"
                    :validatorRules="{}"
                    :disabledArr="[true, true, true]"
                    @on-change="value => onIpChange(value)"
                  />
                </el-Col>
              </el-Row>
              <el-Row class="form-wrap" :gutter="30">
                <el-Col :span="8" class="form-title right">{{"Port"}}</el-Col>
                <el-Col :span="16" class="form-input">
                  <StartEndPort
                    :vStart="dataEdit.startPort"
                    :vEnd="dataEdit.endPort"
                    :showErrorMsg="true"
                    :maxLength="32"
                    :validatorRules="{required: true, numeric : true}"
                    placeholder="advanced_port_triggering_page_col_description_placeholder"
                    id
                    class="ip-port-start-end"
                    validatorName="ip-port-filtering-input-value-label-validator"
                    @on-change-start=" (port) => dataEdit.startPort = port"
                    @on-change-end=" (port) => dataEdit.endPort = port"
                  />
                </el-Col>
              </el-Row>
              <el-Row class="form-wrap" :gutter="30">
                <el-Col :span="8" class="form-title right">{{"Protocol"}}</el-Col>
                <el-Col :span="16" class="form-input">
                  <el-select v-model="dataEdit.protocol" placeholder="Select" class="select-full">
                    <el-option
                      v-for="item in listProtocol"
                      :key="item.value"
                      :label="item.text"
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </el-Col>
              </el-Row>
            </el-Col>
            <el-Col class="dialog-footer-button-wrap" :span="6" :offset="18">
              <el-button :disabled="invalid" class="right" @click.prevent="() => onSaveEdit()">Apply</el-button>
            </el-Col>
          </ValidationObserver>
        </template>
      </DialogBase>
    </el-card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import { PORT_IP_FILTERING, LAN } from "@/store/types/getters.type";
import {
  FETCH_PORT_IP_FILTERING,
  FETCH_LAN,
  CREATE_PORT_IP_FILTERING,
  UPDATE_PORT_IP_FILTERING,
  DELETE_PORT_IP_FILTERING
} from "@/store/types/actions.type";

import { ValidationObserver } from "vee-validate";
import InputValue from "@/components/base/inputs/InputValue/InputValue";
import InputIpV6 from "@/components/base/inputs/InputIpV6/InputIpV6";
import CommonSwitch from "@/components/base/switchs/CommonSwith/CommonSwitch";
import StartEndPort from "@/components/base/inputs/StartEndPort/StartEndPort";
import DialogBase from "@/components/base/dialogs/DialogTemplate/DialogTemplate";

import IpPortFilteringModel from "@/common/models/service/IpPortFiltering/IpPortFilteringModel";
import IpPortFilteringRuleModel from "@/common/models/service/IpPortFiltering/IpPortFilteringRuleModel";

import { IPV4, EVENT_BUS, LIST_TCP } from "@/common/constants";
import { FORM_RULE } from "@/common/form-rules";
import Utils from "@/common/utils";

export default {
  name: "IpPortFiltering",
  components: {
    DialogBase,
    ValidationObserver,
    InputValue,
    CommonSwitch,
    StartEndPort,
    InputIpV6
  },
  props: {},
  data() {
    return {
      cdata: null,
      cLan: null,
      cdataOrg: null,
      dataAdd: null,
      isAdd: false,
      onAdding: false,
      isEdit: false,
      dataEdit: null,
      dataEditOrg: null,
      isDisableAddButton: false,
      listProtocol: [],
      localLoading: false,
      rulesForm: {},
      editDialogConfig: {
        title: "Edit Rule",
        width: "50%",
        top: "25vh",
        left: true,
        visible: this.isEdit,
        beforeClose: this.beforeDialogClose
      },
      nestedDialogConfig: {
        title: "",
        message: "Nothing changes. </br>Click OK to continue?",
        showClose: false,
        center: true,
        width: "35%",
        top: "30vh",
        left: true,
        visible: false,
        appendToBody: true,
        beforeClose: this.beforeNestedDialogClose,
        onClickOK: this.onDialogClose
      }
    };
  },
  computed: {
    ...mapGetters({ PORT_IP_FILTERING, LAN })
  },
  mounted() {},
  watch: {},
  methods: {
    ...mapActions({
      FETCH_PORT_IP_FILTERING,
      CREATE_PORT_IP_FILTERING,
      UPDATE_PORT_IP_FILTERING,
      DELETE_PORT_IP_FILTERING,
      FETCH_LAN
    }),
    initRuleForm() {
      this.rulesForm = {
        name: [FORM_RULE.COMMON_REQUIRE],
        port: [FORM_RULE.NUMERIC_REQUIRE, FORM_RULE.COMMON_REQUIRE],
        ipAddress: [
          FORM_RULE.COMMON_REQUIRE,
          FORM_RULE.INVALID_IP_V4,
          {
            ...FORM_RULE.EXITED_IP,
            listIP: this.cdataOrg.rules,
            message: "Modifed the error message"
          }
        ]
      };
    },
    initData(isUpdate) {
      if (this.LAN !== null) {
        this.cLan = Utils.copyObject(this.LAN);
      }
      if (this.PORT_IP_FILTERING !== null) {
        this.cdata = Utils.copyObject(
          new IpPortFilteringModel(this.PORT_IP_FILTERING)
        );
        if (this.cdata.rules.length >= this.cdata.maxRules) {
          this.isDisableAddButton = true;
        } else {
          this.isDisableAddButton = false;
        }
        this.listProtocol = [
          {
            value: LIST_TCP.BOTH.toLowerCase(),
            text: "TCP/UDP"
          },
          {
            value: LIST_TCP.TCP.toLowerCase(),
            text: "TCP"
          },
          {
            value: LIST_TCP.UDP.toLowerCase(),
            text: "UDP"
          }
        ];
        this.cdata.rules.forEach(rule => {
          rule.port = rule.startPort + "-" + rule.endPort;
        });
        this.cdataOrg = Utils.copyObject(this.cdata);
        this.isAdd = this.onAdding;
        this.isEdit = false;
        this.localLoading = false;
        if (this.onAdding) {
          this.isDisableAddButton = true;
        }
      }
      this.initRuleForm();
      this.$forceUpdate();
    },
    fetchData(isUpdate) {
      let $q = [];
      if (this.PORT_IP_FILTERING === null || isUpdate) {
        $q.push(
          this.FETCH_PORT_IP_FILTERING({
            options: {
              showLoading: true
            }
          })
        );
      }
      if (this.LAN === null) {
        $q.push(
          this.FETCH_LAN({
            options: {
              showLoading: true
            }
          })
        );
      }
      if ($q.length > 0) {
        Promise.all($q).then(() => {
          this.initData(isUpdate);
        });
      } else {
        this.initData(isUpdate);
      }
    },
    setIpFollowSubnetMask(ip, subnet) {
      let newArray = ip.split(".");
      newArray[3] = (Math.random() * 256) | 0;

      const result = Utils.checkFirstOctet(ip);
      if (result === 1) {
        if (subnet === IPV4.SUBNET_MASKS[2]) {
          newArray[1] = "";
          newArray[2] = "";
        } else if (subnet === IPV4.SUBNET_MASKS[1]) {
          newArray[2] = "";
        }
      } else if (result === 2) {
        if (subnet === IPV4.SUBNET_MASKS[1]) {
          newArray[2] = "";
        }
      }
      return newArray;
    },
    prepareDataAdd(value) {
      let data = {};
      const defaultStartEndPort = 1;
      const defaultProtocol = LIST_TCP.TCP.toLowerCase();
      if (value === true) {
        data.active = true;
        data.id = null;
        data.ipAddress = this.setIpFollowSubnetMask(
          this.cLan.ipv4.ipAddress,
          this.cLan.ipv4.subnet
        ).join(".");
        data.name = "Axios - " + Utils.randomString(5);
        data.endPort = defaultStartEndPort;
        data.startPort = defaultStartEndPort;
        data.protocol = defaultProtocol;
        data.port = data.startPort + "-" + data.endPort;
      }
      return data;
    },
    openAdd(value) {
      if (value) {
        this.dataAdd = this.prepareDataAdd(value);
      } else {
        this.dataAdd = null;
      }
      this.isAdd = value;
      this.isDisableAddButton = value;
      this.$forceUpdate();
    },
    onToggleChange(value, row) {
      let data = new IpPortFilteringRuleModel(row);
      data.active = value;
      const postData = data.exportPostData();
      this.UPDATE_PORT_IP_FILTERING({
        id: data.id,
        postData: postData,
        options: {
          showLoading: true
        }
      }).then(() => {
        this.onAdding = this.isAdd;
        this.fetchData(true);
      });
    },
    onAddNewRule() {
      const postData = this.dataAdd.exportPostData();
      this.CREATE_PORT_IP_FILTERING({
        postData: postData,
        options: {}
      }).then(() => {
        this.onAdding = false;
        this.fetchData(true);
        this.isDisableAddButton = false;
        this.dataAdd = null;
      });
    },
    onClickSave(form) {
      // this.rulesForm.ipAddress[0].listIP = this.cdataOrg.rules;

      this.$forceUpdate();
      this.$refs[form].validate(valid => {
        if (valid) {
          this.localLoading = true;
          this.onAddNewRule();
        } else {
          return false;
        }
      });
    },
    onDeleteRule(row) {
      this.$eventBus.$emit(EVENT_BUS.OPEN_CONFIRM_DIALOG, {
        message: "common_text_confirm_before_delete"
      });
      this.$eventBus.$once(EVENT_BUS.CLOSE_CONFIRM_DIALOG, status => {
        this.$eventBus.$off(EVENT_BUS.CLOSE_CONFIRM_DIALOG);
        if (status) {
          const vId = row.id;
          if (vId === null || vId === undefined) {
            return;
          } else {
            this.localLoading = true;
            this.DELETE_PORT_IP_FILTERING({
              id: vId,
              options: {
                showLoading: true
              }
            }).then(() => {
              this.onAdding = this.isAdd;
              this.fetchData(true);
            });
          }
        }
      });
    },
    onEditRule(row) {
      if (row === null || row === undefined) {
        return false;
      }
      this.isEdit = true;
      this.editDialogConfig.visible = true;
      this.nestedDialogConfig.visible = false;
      this.dataEdit = row;
      this.dataEdit.ipV6 = "0000:6666:5444:5555:6666:8888";
      this.dataEditOrg = Utils.copyObject(row);
      this.$forceUpdate();
    },
    beforeDialogClose() {
      if (!Utils.compareObjects(this.dataEdit, this.dataEditOrg)) {
        this.nestedDialogConfig.message =
          "common_ui_dialog_save_changes_message";
        this.nestedDialogConfig.visible = true;

        return false;
      } else {
        this.isEdit = false;
        this.dataEdit = null;
        this.editDialogConfig.visible = false;
      }
    },
    beforeNestedDialogClose() {
      this.nestedDialogConfig.visible = false;
    },
    onSaveEdit() {
      if (Utils.compareObjects(this.dataEdit, this.dataEditOrg)) {
        this.nestedDialogConfig.message =
          "Nothing changes. </br>Click OK to continue?";
        this.nestedDialogConfig.visible = true;
      } else {
        this.dataEdit.port =
          this.dataEdit.startPort + "-" + this.dataEdit.endPort;
        const postData = this.dataEdit.exportPostData();
        this.UPDATE_PORT_IP_FILTERING({
          id: this.dataEdit.id,
          postData: postData,
          options: {
            showLoading: true
          }
        }).then(() => {
          this.beforeDialogClose();
          this.onAdding = this.isAdd;
          this.fetchData(true);
        });
      }
    },
    onDialogClose() {
      this.isEdit = false;
    },
    // test IPV6
    onIpChange(value) {
      console.log("IP V6:" + value);
    }
  },
  created() {
    this.fetchData();
  }
};
</script>
<style lang="scss">
@import "./index.scss";
</style>
