<template>
  <el-row class="tac">
    <el-col :span="12" class="nav">
      <h5>Menu</h5>
      <el-menu :default-active="defaultMenu" class="el-menu-vertical-demo nav-menu" :router="true">
        <template v-for="(menu, index) in menus">
          <el-menu-item
            :index="index.toString()"
            :key="index"
            v-if="!menu.children"
            :route="{path: menu.path}"
          >
            <i class="el-icon-location"></i>
            <span>{{ $t(menu.text) }}</span>
          </el-menu-item>
          <el-submenu :index="index.toString()" :key="index" v-else>
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>{{ $t(menu.text) }}</span>
            </template>
            <template v-for="(submenu, index1) in menu.children">
              <el-menu-item
                :index="index + '-' + index1"
                :key="index + '-' + index1"
                :route="{path: submenu.path}"
              >
                <span>{{ $t(submenu.text) }}</span>
              </el-menu-item>
            </template>
          </el-submenu>
        </template>
        <el-menu-item index="3" disabled>
          <i class="el-icon-document"></i>
          <span>Test Disabled</span>
        </el-menu-item>
      </el-menu>
    </el-col>
  </el-row>
</template>


<script>
export default {
  data() {
    return {
      menus: [],
      defaultMenu: "0"
    };
  },
  created() {
    import(`@/config/nav.js`).then(m => {
      this.menus = m.navList;
      this.menus.forEach((item, index) => {
        if (item.path === this.$router.currentRoute.path) {
          this.defaultMenu = index.toString();
        } else {
          if (item.children && item.children.length > 0) {
            item.children.forEach((children, indexChild) => {
              if (children.path === this.$router.currentRoute.path) {
                this.defaultMenu =
                  index.toString() + "-" + indexChild.toString();
              }
            });
          }
        }
      });
    });
  },
  watch: {
    $route() {}
  }
};
</script>
<style lang="scss">
.tac {
  .nav {
    height: 100%;
  }
  .nav-menu {
    border-right: none !important;
  }
  .el-submenu__title {
    text-align: left;
  }
  .el-menu-item {
    text-align: left;
    &.is-active {
      background-color: #ecf5ff;
    }
  }
  .el-submenu .el-menu-item {
    padding-left: 50px !important;
  }
  .nav {
    width: 100% !important;
    box-shadow: 5px 0px 5px -2px $color-border-normal;
  }
}
</style>
