.select-device-template {
  .el-select {
    .el-input__inner {
      text-align: left;
      &:focus {
        border-color: $color-border-focus;
      }
      &::placeholder {
        color: $color-placeholder;
      }
    }
    &.error-input {
      .el-input__inner {
        border-color: $color-border-error !important;
        &:hover {
          border-color: $color-border-error !important;
        }
        &:focus {
          border-color: $color-border-focus;
        }
      }
    }
  }
}
.message-wrap {
  .error-message {
    color: $color-text-error;
    font-size: $font-size-text;
  }
}
