<template>
  <div class="select-device-template">
    <ValidationProvider
      :name="$props.validatorName"
      :rules="{...$props.validatorRules, ValidMac: true}"
      :immediate="true"
      :ref="$props.validatorName"
      class
      tag="div"
      v-slot="{flags , valid, errors }"
    >
      <el-select
        v-model="selectedDevice"
        placeholder="Select"
        class="select-full"
        :class="{'error-input' : (!valid && flags.touched &&showErrorMsg)}"
      >
        <el-option
          v-for="item in ownListDevice"
          :key="item.macAddress"
          :label="item.macAddress"
          :value="item.macAddress"
        >
          <span style="float: left">{{ item.name }}</span>
          <span style="float: right; color: #8492a6; font-size: 13px">{{ item.macAddress }}</span>
        </el-option>
        <!-- <el-option value>Add New</el-option> -->
      </el-select>
      <div class="message-wrap" v-if="showErrorMsg">
        <span
          class="error-message"
          v-if="(!valid && flags.touched &&showErrorMsg)"
        >{{$t(errors[0])}}</span>
      </div>
    </ValidationProvider>
  </div>
</template>
<script>
import { ValidationProvider } from "vee-validate";
import Utils from "@/common/utils";
export default {
  name: "SelectDevice",
  components: {
    ValidationProvider
  },
  props: {
    vdata: {
      type: String,
      required: true
    },
    listDevice: {
      type: Array,
      required: false,
      default() {
        return [];
      }
    },
    validatorRules: {
      type: Object,
      required: false,
      default() {
        return {};
      }
    },
    validatorName: {
      type: String,
      required: false,
      default() {
        return "selelct-device-validator";
      }
    },
    showErrorMsg: {
      type: Boolean,
      required: false,
      default() {
        return true;
      }
    }
  },
  data() {
    return {
      ownListDevice: [],
      inputValue: "",
      selectedDevice: {}
    };
  },
  created() {
    this.initData();
  },
  watch: {
    selectedDevice: {
      handler(newVal) {
        if (newVal === null || newVal === undefined) {
          return;
        }
        this.onchange(newVal);
      },
      deep: true
    }
  },
  methods: {
    initData() {
      this.ownListDevice = this.$props.listDevice;
      this.selectedDevice = this.$props.vdata;
    },
    onchange(newVal) {
      if (!Utils.compareObjects(this.$props.vdata, newVal)) {
        const selectdItem = this.ownListDevice.filter(e => {
          return e.macAddress === newVal;
        });
        let validItem = {};
        if (selectdItem.length > 0) {
          validItem = selectdItem[selectdItem.length - 1];
        } else {
          validItem.macAddress = newVal;
        }
        this.$emit("on-change", validItem);
      }
    },
    onInputChange(query) {
      // this.inputValue = query;
    },
    onKeyDown(e) {}
  }
};
</script>
<style lang="scss">
@import "./index.scss";
</style>
