<template>
  <div class="dialog-template system-template">
    <el-dialog :visible.sync="config.visible" v-bind="ownConfig">
      <slot></slot>
      <el-Row slot="footer" class="system-dialog-footer" type="flex" justify="center" :gutter="30">
        <el-Col :span="6">
          <el-button
            v-if="ownConfig.showFooterButton"
            type="plain right"
            @click.prevent="onClickOK"
          >OK</el-button>
        </el-Col>
        <el-Col :span="6">
          <el-button
            v-if="ownConfig.showFooterButton"
            type="primary left"
            @click.prevent="onClickCancel"
          >Cancel</el-button>
        </el-Col>
      </el-Row>
    </el-dialog>
  </div>
</template>
<script>
export default {
  name: "DialogBase",
  props: {
    config: {
      type: Object,
      required: true,
      default() {
        return {};
      }
    },
    onClickOK: {
      type: Function,
      required: true,
      default() {
        return function() {
          return false;
        };
      }
    },
    onClickCancel: {
      type: Function,
      required: true,
      default() {
        return function() {
          return false;
        };
      }
    }
  },
  data() {
    return {
      ownConfig: { ...this.$props.config }
    };
  },
  methods: {
    initData() {
      this.ownConfig.top = "30vh";
      this.ownConfig.width = "40%";

      if (!this.ownConfig.hasOwnProperty("visible")) {
        this.ownConfig.visible = true;
      }
      // Do not show close item
      if (!this.ownConfig.hasOwnProperty("showClose")) {
        this.ownConfig.showClose = false;
      }
      if (!this.ownConfig.hasOwnProperty("showFooterButton")) {
        this.ownConfig.showFooterButton = true;
      }
      // Dialog App cannot be closed if no chosen be choosed. But if close icon be shown, it work normaly
      this.ownConfig.beforeClose = () => {
        if (
          !this.ownConfig.hasOwnProperty("showClose") ||
          !this.ownConfig.showClose
        ) {
          return false;
        } else {
          this.$props.onClickCancel();
        }
      };
    }
  },
  created() {
    this.initData();
  }
};
</script>
<style lang="scss">
@import "./index.scss";
</style>
