 <template>
  <div>
    <div class="card-content-guest-network" v-if="!!cGuest">
      <el-table :data="tableData" style="width: 100%" :empty-text="$t(`No Data`)">
        <el-table-column label="SSID" width="60">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.active"
              @change="(value) => changeValue(value, scope.row)"
              active-color="#13ce66"
              inactive-color="#ff4949"
            >></el-switch>
          </template>
        </el-table-column>
        <el-table-column
          prop="name"
          :label="$t('wireless_page_guest_network_table_header_network_name_ssid')"
          width="200"
        ></el-table-column>
        <el-table-column
          prop="securityType"
          :label="$t('wireless_page_guest_network_table_header_security')"
          width="180"
        ></el-table-column>
        <el-table-column
          prop="macAddress"
          :label="$t('wireless_page_guest_network_table_header_mac_address_control')"
        ></el-table-column>
        <el-table-column label="Operations">
          <template slot-scope="scope">
            <div class="wrap-icon-button">
              <i class="el-icon-edit-outline" @click="handleEdit(scope.$index, scope.row)"></i>
              <i class="el-icon-delete" @click="deleteRow(scope.$index, scope.row)"></i>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <div class="add-button">
        <el-button
          :disabled="cGuest.length >= maxRules"
          @click.prevent="onClickAdd(tableData)"
        >{{$t("common_button_add",{available: cGuest !== undefined ? cGuest.length : 0, max: maxRules})}}</el-button>
      </div>
    </div>
    <div class="edit-dialog" v-if="editData || isAdd">
      <el-dialog :title="titleDialog" :visible.sync="dialogVisible" width="50%">
        <div class="content-dialog">
          <el-row type="flex" justify="space-around">
            <el-col :span="16">
              <el-form ref="form" :model="editData" label-width="120px">
                <el-row :gutter="30">
                  <el-col :span="8" class="form-title">{{"Network Name"}}</el-col>
                  <el-col :span="16" class="form-input">
                    <el-input v-model="editData.name" @change="updateSSID"></el-input>
                  </el-col>
                </el-row>
                <el-row :gutter="30">
                  <el-col :span="8" class="form-title">{{"Network Name"}}</el-col>
                  <el-col class="select-field" :span="16">
                    <el-select
                      v-model="editData.security.type"
                      placeholder="select"
                      class="full-width"
                    >
                      <el-option
                        v-for="item in listSecurityType"
                        :key="item.value"
                        :label="$t(item.text)"
                        :value="item.value"
                      ></el-option>
                    </el-select>
                  </el-col>
                </el-row>
                <div
                  v-if="editData.security.type === 'WPA2-PSK' || editData.security.type === 'WPA2/WPA-PSK'"
                >
                  <!-- <el-form-item :label="$t('wireless_page_input_encrytion_type')" prop="encryption"> -->
                  <el-row :gutter="30">
                    <el-col
                      :span="8"
                      class="form-title"
                    >{{$t('wireless_page_input_encrytion_type')}}</el-col>
                    <el-col class="select-field" :span="16">
                      <el-select
                        v-model="editData.security.personal.encryption"
                        placeholder="select"
                        class="full-width"
                        :disabled="editData.security.type === 'WPA2-PSK'"
                      >
                        <el-option
                          v-for="item in listEncryptionWPA"
                          :key="item.value"
                          :label="$t(item.text)"
                          :value="item.value"
                        ></el-option>
                      </el-select>
                    </el-col>
                  </el-row>
                  <!-- </el-form-item> -->
                  <div>
                    <el-row :gutter="30">
                      <el-col :span="8" class="form-title">{{"Password"}}</el-col>
                      <el-col :span="16" class="form-input">
                        <el-input v-model="keyWPA" show-password @change="updatePasswordWpa"></el-input>
                      </el-col>
                    </el-row>
                    <!-- <el-form-item :label="$t('wireless_page_input_password')" prop="password"> -->
                    <!-- </el-form-item> -->
                  </div>
                </div>
                <div
                  v-if="editData.security.type === 'WPA2-Enterprise' || editData.security.type === 'WPA2/WPA-Enterprise'"
                >
                  <div>
                    <!-- <el-form-item :label="$t('wireless_page_input_encrytion_type')" prop="encryption"> -->
                    <el-row :gutter="30">
                      <el-col
                        :span="8"
                        class="form-title"
                      >{{$t('wireless_page_input_encrytion_type')}}</el-col>
                      <el-col class="select-field" :span="16">
                        <el-select
                          v-model="editData.security.enterprise.encryption"
                          class="full-width"
                          placeholder="select"
                          :disabled="editData.security.type === 'WPA2-Enterprise'"
                        >
                          <el-option
                            v-for="item in listEncryptionEnterprise"
                            :key="item.value"
                            :label="$t(item.text)"
                            :value="item.value"
                          ></el-option>
                        </el-select>
                      </el-col>
                    </el-row>
                    <!-- </el-form-item> -->
                  </div>
                  <div>
                    <!-- <el-form-item :label="$t('wireless_page_input_radius_server')"> -->
                    <el-row :gutter="30">
                      <el-col
                        :span="8"
                        class="form-title"
                      >{{$t('wireless_page_input_radius_server')}}</el-col>
                      <el-col :span="16" class="form-input">
                        <el-input
                          v-model="editData.security.enterprise.radius.server"
                          @change="updateServer"
                        ></el-input>
                      </el-col>
                    </el-row>
                    <!-- </el-form-item> -->
                    <!-- <el-form-item :label="$t('wireless_page_input_radius_port')"> -->
                    <el-row :gutter="30">
                      <el-col :span="8" class="form-title">{{$t('wireless_page_input_radius_port')}}</el-col>
                      <el-col :span="16" class="form-input">
                        <el-input
                          v-model="editData.security.enterprise.radius.port"
                          @change="updatePort"
                        ></el-input>
                      </el-col>
                    </el-row>
                    <!-- </el-form-item> -->
                    <!-- <el-form-item :label="$t('wireless_page_input_radius_key')"> -->
                    <el-row :gutter="30">
                      <el-col :span="8" class="form-title">{{$t('wireless_page_input_radius_key')}}</el-col>
                      <el-col :span="16" class="form-input">
                        <el-input v-model="keyEnterprise" @change="updateKey"></el-input>
                      </el-col>
                    </el-row>
                    <!-- </el-form-item> -->
                  </div>
                </div>
                <div v-if="editData.security.type === 'WEP'">
                  <!-- <el-form-item :label="$t('wireless_page_input_encrytion_type')" prop="encryption"> -->
                  <el-row :gutter="30">
                    <el-col
                      :span="8"
                      class="form-title"
                    >{{$t('wireless_page_input_encrytion_type')}}</el-col>
                    <el-col class="select-field" :span="16">
                      <el-select
                        v-model="editData.security.wep.encryption"
                        placeholder="select"
                        class="full-width"
                      >
                        <el-option
                          v-for="item in listEncryptionWEP"
                          :key="item.value"
                          :label="$t(item.text)"
                          :value="item.value"
                        ></el-option>
                      </el-select>
                    </el-col>
                  </el-row>
                  <!-- </el-form-item> -->
                  <!-- <el-form-item :label="$t('wireless_page_input_key_type')"> -->
                  <el-row :gutter="30">
                    <el-col :span="8" class="form-title">{{$t('wireless_page_input_key_type')}}</el-col>
                    <el-col class="select-field" :span="16">
                      <el-select
                        v-model="editData.security.wep.keyType"
                        placeholder="select"
                        class="full-width"
                      >
                        <el-option
                          v-for="item in listKeyType"
                          :key="item.value"
                          :label="$t(item.text)"
                          :value="item.value"
                        ></el-option>
                      </el-select>
                    </el-col>
                  </el-row>
                  <!-- </el-form-item> -->
                  <!-- <el-form-item :label="$t('wireless_page_input_password')"> -->
                  <el-row :gutter="30">
                    <el-col :span="8" class="form-title">{{$t('wireless_page_input_password')}}</el-col>
                    <el-col :span="16" class="form-input">
                      <el-input v-model="keyWEP" @change="updatePasswordWep" show-password></el-input>
                    </el-col>
                  </el-row>
                  <!-- </el-form-item> -->
                </div>
                <!-- <el-form-item :label="$t('wireless_page_input_hide_ssid')" prop="hiddenSSID"> -->
                <el-row :gutter="30">
                  <el-col :span="8" class="form-title">{{$t('wireless_page_input_hide_ssid')}}</el-col>
                  <el-col :span="2" class="form-swich">
                    <el-switch
                      v-model="editData.hiddenSSID"
                      active-color="#13ce66"
                      inactive-color="#ff4949"
                    ></el-switch>
                  </el-col>
                </el-row>
                <!-- </el-form-item> -->
              </el-form>
            </el-col>
          </el-row>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click.prevent="() => onApply()">Apply</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import {
  FETCH_ALL_SSID,
  FETCH_RESTART_WIFI,
  UPDATE_STATUS_SSID,
  FETCH_ACCESS_CONTROL,
  DELETE_GUEST_SSID,
  FETCH_RADIO,
  FETCH_SSID,
  CREATE_GUEST_SSID,
  UPDATE_SSID
} from "@/store/types/actions.type";
import {
  GUEST_24,
  GUEST_5,
  ACCESS_CONTROL_24,
  ACCESS_CONTROL_5,
  LIST_ACCESS_24,
  LIST_ACCESS_5,
  RADIO_24,
  RADIO_5,
  SSID_24,
  SSID_5
} from "@/store/types/getters.type";
import { mapActions, mapGetters } from "vuex";
import { Promise } from "q";
import Utils from "@/common/utils";
import {
  WIRELESS_TYPE,
  LIST_SECURITY_TYPE,
  LIST_ENCRYPTION,
  LIST_KEY_TYPE,
  SECURITY_TYPE,
  COOKIE_USER_NAME
} from "@/common/constants";
export default {
  components: {},
  props: {
    type: {
      type: String,
      required: false,
      default() {
        return "24g";
      }
    }
  },
  methods: {
    ...mapActions({
      FETCH_ALL_SSID,
      FETCH_RESTART_WIFI,
      UPDATE_STATUS_SSID,
      FETCH_ACCESS_CONTROL,
      DELETE_GUEST_SSID,
      FETCH_RADIO,
      FETCH_SSID,
      CREATE_GUEST_SSID,
      UPDATE_SSID
    }),
    getRandomFourText() {
      const min = 1000,
        max = 10000;
      return (Math.floor(Math.random() * (max - min)) + min).toString();
    },
    handleEdit(index, row) {
      this.titleDialog = "Edit the rule";
      this.ssid = row.index;
      this.FETCH_SSID({
        interfaceId: this.interfaceId,
        ssid: row.index,
        options: {}
      }).then(() => {
        this.dialogVisible = true;
        this.interfaceId === 0
          ? (this.editData = Utils.copyObject(this.SSID_24[row.index]))
          : (this.editData = Utils.copyObject(this.SSID_5[row.index]));
        this.assignPassword();
      });
      this.FETCH_SSID({
        interfaceId: this.interfaceId,
        ssid: row.index,
        options: {}
      }).then(() => {
        this.dialogVisible = true;
        this.interfaceId === 0
          ? (this.editData = Utils.copyObject(this.SSID_24[row.index]))
          : (this.editData = Utils.copyObject(this.SSID_5[row.index]));
        this.assignPassword();
      });
      this.$forceUpdate();
    },
    deleteRow(index, row) {
      this.DELETE_GUEST_SSID({
        interfaceId: this.interfaceId,
        ssid: row.index,
        options: {}
      }).then(() => {
        this.FETCH_RESTART_WIFI({
          interfaceId: this.interfaceId,
          options: {}
        }).then(() => {
          this.callAPIs();
        });
      });
      //   rows.splice(index, 1);
    },
    onClickAdd(rows) {
      this.titleDialog = "Add the rule";
      this.isAdd = true;
      this.initData();
      this.dialogVisible = true;
    },
    exportDataPost() {
      let postData = {};
    },
    onApply(value) {
      if (this.isAdd === true) {
        if (
          this.editData.security.type === SECURITY_TYPE.WPA2_PSK ||
          this.editData.security.type === SECURITY_TYPE.WPA2_WPA_PSK
        ) {
          this.editData.security.enterprise = null;
          this.editData.security.wep = null;
          if (this.editData.security.personal.encryption === "") {
            this.editData.security.personal.encryption = this.listEncryptionWPA[0].value;
          }
        } else if (this.editData.security.type === SECURITY_TYPE.WEP) {
          this.editData.security.personal = null;
          this.editData.security.enterprise = null;
          delete this.editData.security.wep.keys;
        } else if (
          this.editData.security.type === SECURITY_TYPE.WPA2_ENTERPRISE ||
          this.editData.security.type === SECURITY_TYPE.WPA2_WPA_ENTERPRISE
        ) {
          this.editData.security.personal = null;
          this.editData.security.wep = null;
          if (this.editData.security.enterprise.encryption === "") {
            this.editData.security.enterprise.encryption = this.listEncryptionEnterprise[0].value;
          }
        } else {
          this.editData.security.personal = null;
          this.editData.security.wep = null;
          this.editData.security.enterprise = null;
        }
        this.CREATE_GUEST_SSID({
          interfaceId: this.interfaceId,
          postData: this.editData,
          options: {}
        }).then(reponse => {
          this.ssid = reponse.id;
          this.callAPIs();
          //this.editData = null;
          this.initData();
          this.dialogVisible = false;
        });
      } else {
        this.UPDATE_SSID({
          interfaceId: this.interfaceId,
          ssid: this.ssid,
          postData: this.editData,
          options: {}
        }).then(response => {
          this.callAPIs();
          this.dialogVisible = false;
        });
      }
    },
    changeValue(value, row) {
      let data = Utils.copyObject(row);
      data.active = value;
      this.UPDATE_STATUS_SSID({
        interfaceId: this.interfaceId,
        ssid: row.index,
        activeData: {
          active: value
        },
        options: {}
      }).then(() => {
        this.callAPIs();
      });
    },
    callAPIs() {
      this.FETCH_ALL_SSID({
        interfaceId: this.interfaceId,
        options: {}
      }).then(() => {
        let listPromise = [];
        if (this.interfaceId === 0) {
          this.GUEST_24.forEach(obj => {
            if (obj.index !== 0) {
              listPromise.push(
                this.FETCH_ACCESS_CONTROL({
                  interfaceId: this.interfaceId,
                  ssid: obj.index,
                  options: {}
                })
              );
            }
          });
        } else {
          this.GUEST_5.forEach(obj => {
            if (obj.index !== 0) {
              listPromise.push(
                this.FETCH_ACCESS_CONTROL({
                  interfaceId: this.interfaceId,
                  ssid: obj.index,
                  options: {}
                })
              );
            }
          });
        }
        Promise.all(listPromise).then(() => {
          this.fetchData();
        });
      });
    },
    fetchData() {
      if (this.type === "24g") {
        this.cGuest = Utils.copyObject(this.GUEST_24);
        this.originGuest = Utils.copyObject(this.GUEST_24);
        this.listAccesControl = Utils.copyObject(this.LIST_ACCESS_24);
      } else {
        this.cGuest = Utils.copyObject(this.GUEST_5);
        this.originGuest = Utils.copyObject(this.GUEST_5);
        this.listAccesControl = Utils.copyObject(this.LIST_ACCESS_5);
      }
      this.tableData = Array.from(this.cGuest ? this.cGuest : []);
      //this.assignPassword();
    },
    updatePasswordWpa(newVal) {
      this.keyWPA = newVal;
      this.editData.security.personal.password = this.convertPassword(
        Utils.getCookie(COOKIE_USER_NAME),
        this.keyWPA
      );
    },
    updateServer(newVal) {
      this.editData.security.enterprise.radius.server = newVal;
    },
    updatePort(newVal) {
      this.editData.security.enterprise.radius.port = newVal;
    },
    updateKey(newVal) {
      this.keyEnterprise = newVal;
      this.editData.security.enterprise.radius.key = this.convertPassword(
        Utils.getCookie(COOKIE_USER_NAME),
        this.keyEnterprise
      );
    },
    convertPassword(userName, password) {
      const stringTrans = Utils.logicStringPassword(userName, password);
      const stringEncode = Utils.encodedString(stringTrans);
      return stringEncode;
    },
    updateSSID(newVal) {
      this.editData.name = newVal.trim();
    },
    setNullEnterprise(obj) {
      obj.security.enterprise = {
        encryption: "",
        radius: {
          server: "0.0.0.0",
          port: 1812,
          key: ""
        },
        groupKey: 0
      };
      this.keyEnterprise = "";
    },
    setNullWPA(obj) {
      obj.security.personal = {
        encryption: "",
        password: "",
        groupKey: 0
      };
      this.keyWPA = "";
    },
    setNullWep(obj) {
      obj.security.wep = {
        encryption: "",
        keyType: "",
        password: ""
      };
      this.keyWEP = "";
    },
    assignPassword() {
      if (
        this.editData.security.type === SECURITY_TYPE.WPA2_PSK ||
        this.editData.security.type === SECURITY_TYPE.WPA2_WPA_PSK
      ) {
        this.keyWPA = Utils.decodedString(
          this.editData.security.personal.password
        );
        this.keyWEP = "";
        this.keyEnterprise = "";
      } else if (this.editData.security.type === SECURITY_TYPE.WEP) {
        this.keyWEP = Utils.decodedString(this.editData.security.wep.password);
        this.keyEnterprise = "";
        this.keyWPA = "";
      } else if (
        this.editData.security.type === SECURITY_TYPE.WPA2_ENTERPRISE ||
        this.editData.security.type === SECURITY_TYPE.WPA2_WPA_ENTERPRISE
      ) {
        this.keyEnterprise = Utils.decodedString(
          this.editData.security.enterprise.radius.key
        );
        this.keyWPA = "";
        this.keyWEP = "";
      } else {
        this.keyEnterprise = "";
        this.keyWPA = "";
        this.keyWEP = "";
      }
    },
    updatePasswordWep(newVal) {
      this.keyWEP = newVal;
      this.editData.security.wep.password = this.convertPassword(
        Utils.getCookie(COOKIE_USER_NAME),
        this.keyWEP
      );
    },
    initData() {
      const defaultValue = "-";
      const defaultName =
        this.interfaceId === 0
          ? WIRELESS_TYPE.GUEST_SSID_24G + "_" + this.getRandomFourText()
          : WIRELESS_TYPE.GUEST_SSID_5G + "_" + this.getRandomFourText();
      const defaultSecurityType = "NONE";
      this.defaultData = {
        index: null,
        type: defaultValue,
        active: true,
        name: defaultName,
        security: {
          type: defaultSecurityType,
          personal: null,
          enterprise: null,
          wep: null
        },
        webUIAccess: false,
        accessControl: false,
        hiddenSSID: false,
        APIsolate: true,
        internetOnly: true,
        macAddress: defaultValue
      };
      this.setNullWPA(this.defaultData);
      this.setNullWep(this.defaultData);
      this.setNullEnterprise(this.defaultData);
      this.editData = Utils.copyObject(this.defaultData);
    }
  },
  data() {
    const item = {
      active: true,
      name: "Handess",
      securityType: "AS",
      encrypton: "WPA2/WPA-PSK",
      password: 1234568
    };
    return {
      tableData: Array(20).fill(item),
      dialogVisible: false,
      titleDialog: "Add the rule",
      form: {
        active: true,
        name: "Hung",
        securityType: "AS",
        encrypton: "WPA2/WPA-PSK",
        password: 1234568
      },
      interfaceId: this.type === "24g" ? 0 : 1,
      cGuest: null,
      originGuest: null,
      listAccesControl: [],
      editData: null,
      maxRules: WIRELESS_TYPE.MAX_GUEST_RULES,
      listSecurityType: LIST_SECURITY_TYPE,
      listEncryptionWPA: LIST_ENCRYPTION.slice(1, 3),
      listEncryptionEnterprise: LIST_ENCRYPTION.slice(1, 3),
      listEncryptionWEP: LIST_ENCRYPTION.slice(3, 5),
      listKeyType: LIST_KEY_TYPE,
      isAdd: false,
      defaultData: null,
      keyWPA: "",
      keyWEP: "",
      keyEnterprise: "",
      ssid: 0
    };
  },
  computed: {
    ...mapGetters({
      GUEST_24,
      GUEST_5,
      ACCESS_CONTROL_24,
      ACCESS_CONTROL_5,
      LIST_ACCESS_24,
      LIST_ACCESS_5,
      RADIO_24,
      RADIO_5,
      SSID_24,
      SSID_5
    })
  },
  watch: {
    "editData.security.type": {
      handler(newVal) {
        this.setNullWPA(this.editData);
        this.setNullEnterprise(this.editData);
        this.setNullWep(this.editData);
      }
    }
  },
  created() {
    this.callAPIs();
    this.initData();
  },
  destroyed() {
    this.keyWPA = "";
    this.keyWEP = "";
    this.keyEnterprise = "";
  }
};
</script>
<style lang="scss">
.card-content-guest-network {
  padding: 20px;
  margin-top: 50px;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #ffffff;
  overflow: hidden;
  color: #303133;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  .el-table__header-wrapper {
    border-bottom: 1px solid #ccc;
  }
  .el-icon-edit-outline,
  .el-icon-delete {
    margin: 10px;
    font-size: 24px;
  }
}
.add-button {
  margin: 10px;
}
.edit-dialog {
  .el-dialog__header {
    padding: 40px;
    text-align: left;
    .el-dialog__title {
      font-weight: 600;
      font-size: 22px;
    }
  }
  .form-title {
    display: table;
    table-layout: fixed;
    padding-top: 15px;
    &.right {
      text-align: right;
    }
  }
  .form-input {
    display: table;
    table-layout: fixed;
    float: right;
    padding-top: 10px;
  }
  .select-field,
  .form-swich {
    padding-top: 10px;
  }
  .select-field .full-width {
    width: 100%;
  }
}
</style>
