.card-content-guest-network {
    padding: 20px;
    margin-top: 50px;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #ffffff;
    overflow: hidden;
    color: #303133;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    .el-table__header-wrapper {
      border-bottom: 1px solid #ccc;
    }
    .el-icon-edit-outline, .el-icon-delete {
      margin: 10px;
      font-size: 24px;
    }
  }
  .add-button {
    margin: 10px;
  }
  .edit-dialog {
    .el-dialog__header {
      padding: 40px;
      text-align: left;
      .el-dialog__title {
        font-weight: 600;
        font-size: 22px;
      }
    }
  }