<template>
  <div class="card-container" v-if="cdata">
    <el-card shadow="always" :header="$t('advanced_filtering_mac_filtering')" class="left">
      <el-table :data="cdata.rules" style="width: 100%" :empty-text="$t(`No Data`)">
        <el-table-column :label="$t('No.')" width="100" column-key="id" type="index" />
        <el-table-column width="100" column-key="active" :label="$t('On/Off')">
          <template slot-scope="scope">
            <CommonSwitch
              :active-color="`$common-active`"
              switchType="primary"
              :vdata="scope.row.active"
              @on-change="(value) => onToggleChange(value, scope.row)"
            ></CommonSwitch>
          </template>
        </el-table-column>
        <el-table-column prop="name" :label="$t('Descripion')" width="280" column-key="name" />
        <el-table-column
          prop="macAddress"
          :label="$t('MAC Address')"
          width="280"
          column-key="macAddress"
        />
        <el-table-column align="right">
          <template slot="header"></template>
          <template slot-scope="scope">
            <div class="icon-table-wrap">
              <!-- <i
                class="el-icon-edit-outline"
                :class="`icon large`"
                @click.prevent="onEditRule(scope.row)"
              ></i>-->
              <i
                class="el-icon-delete"
                :class="`icon large`"
                @click.prevent="onDeleteRule(scope.row)"
              ></i>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <div style=" clear: both;"></div>
      <el-Row>
        <el-col :offset="10" :span="4" class="buton-wrap">
          <el-button
            type="plain"
            class="action-button"
            :disabled="isDisableAddButton"
            @click.prevent="() => openAdd(true)"
          >{{$t('common_button_add', {available: cdata.rules !== undefined ? cdata.rules.length : 0, max: cdata.maxRules})}}</el-button>
        </el-col>
      </el-Row>
      <!--  -->
      <div v-if="isAdd && dataAdd" class="add-form-wrap">
        <el-Row class="add-form-title">
          <el-Col>{{$t('Add a rule')}}</el-Col>
        </el-Row>
        <ValidationObserver
          class="add-form-container"
          tag="el-Row"
          v-slot="{invalid}"
          ref="addForm"
        >
          <el-Col :span="18">
            <el-Row class="form-wrap" :gutter="30">
              <el-Col :span="8" class="form-title left">{{"Device Name"}}</el-Col>
              <el-Col :span="16" class="form-input">
                <InputValue
                  :vdata="dataAdd.name"
                  :showErrorMsg="true"
                  :attrs="{disabled: true}"
                  :maxLength="32"
                  :validatorRules="{required: true}"
                  placeholder="advanced_port_triggering_page_col_description_placeholder"
                  id
                  validatorName="mac-filtering-input-value-label-validator"
                  @on-change=" (value) => dataAdd.name = value"
                />
              </el-Col>
            </el-Row>
            <el-Row class="form-wrap" :gutter="30">
              <el-Col :span="8" class="form-title left">{{"MAC Address"}}</el-Col>
              <el-Col :span="16" class="form-input">
                <SelectDevice
                  :listDevice="deviceData"
                  :vdata="dataAdd.macAddress"
                  :validatorRules="{required: true, ExistedMac: [cdata.rules, -1]}"
                  @on-change=" (item) => onSelectMac(item)"
                />
              </el-Col>
            </el-Row>
          </el-Col>
          <el-Col>
            <el-Row class="add-form-button" type="flex" justify="center" :gutter="30">
              <el-Col :span="8">
                <el-Row>
                  <el-Col :span="12" class="buton-wrap">
                    <el-button
                      type="primary"
                      class="action-button right"
                      :loading="localLoading"
                      :disabled="invalid"
                      @click.prevent="() => onClickSaveAdd()"
                    >{{$t('text_button_apply')}}</el-button>
                  </el-Col>
                  <el-Col :span="12" class="buton-wrap">
                    <el-button
                      type="plain"
                      class="action-button left"
                      @click.prevent="() => openAdd(false)"
                    >{{$t('common_button_cancel')}}</el-button>
                  </el-Col>
                </el-Row>
              </el-Col>
            </el-Row>
          </el-Col>
        </ValidationObserver>
      </div>
      <div style="clear: both;"></div>
      <!--  -->
    </el-card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import { MAC_FILTERING, DEVICE } from "@/store/types/getters.type";
import {
  FETCH_MAC_FILTERING,
  CREATE_MAC_FILTERING,
  DELETE_MAC_FILTERING,
  UPDATE_MAC_FILTERING,
  FETCH_DEVICE
} from "@/store/types/actions.type";

import { ValidationObserver } from "vee-validate";
import InputValue from "@/components/base/inputs/InputValue/InputValue";
import CommonSwitch from "@/components/base/switchs/CommonSwith/CommonSwitch";
import SelectDevice from "@/components/base/select/selectdevice/SelectDevice";

import MacFilteringModel from "@/common/models/service/MacFiltering/MacFilteringModel";
import MacFilteringRule from "@/common/models/service/MacFiltering/MacfilteringRuleModel";
import { EVENT_BUS } from "@/common/constants";
import Utils from "@/common/utils";

const defaultDeviceName = "Unknown device";
export default {
  name: "MacFiltering",
  components: { CommonSwitch, ValidationObserver, InputValue, SelectDevice },
  props: {},
  data() {
    return {
      cdata: null,
      deviceData: null,
      isDisableAddButton: false,
      dataAdd: null,
      localLoading: false
    };
  },
  computed: {
    ...mapGetters({
      MAC_FILTERING,
      DEVICE
    })
  },
  watch: {},
  created() {
    this.fetchData();
  },
  methods: {
    ...mapActions({
      FETCH_MAC_FILTERING,
      CREATE_MAC_FILTERING,
      DELETE_MAC_FILTERING,
      UPDATE_MAC_FILTERING,
      FETCH_DEVICE
    }),
    initData() {
      if (this.MAC_FILTERING === null) {
        return;
      }
      if (this.DEVICE) {
        this.cDevice = Utils.copyObject(this.DEVICE);
        this.deviceData = Utils.copyObject(this.DEVICE);
      }
      this.cdata = Utils.copyObject(new MacFilteringModel(this.MAC_FILTERING));
      if (this.cdata.rules.length >= this.cdata.maxRules) {
        this.isDisableAddButton = true;
      } else {
        this.isDisableAddButton = false;
      }
      this.cdataOrg = Utils.copyObject(this.cdata);
      this.isAdd = this.onAdding;
      this.isEdit = false;
      this.localLoading = false;
      if (this.onAdding) {
        this.isDisableAddButton = true;
      }
      this.$forceUpdate();
    },
    fetchData(isUpdate) {
      let $q = [];
      if (this.MAC_FILTERING === null || isUpdate) {
        $q.push(this.FETCH_MAC_FILTERING({}));
      }
      /* Always update Device */

      $q.push(this.FETCH_DEVICE({}));
      if ($q.length > 0) {
        Promise.all($q).then(() => {
          this.initData();
        });
      } else {
        this.initData();
      }
    },
    onToggleChange(value, row) {
      let data = new MacFilteringRule(row);
      data.active = value;
      const postData = data.exportPostData();
      this.UPDATE_MAC_FILTERING({
        id: data.id,
        postData: postData,
        options: {
          showLoading: true
        }
      }).then(() => {
        this.onAdding = this.isAdd;
        this.fetchData(true);
      });
    },
    onDeleteRule(row) {
      this.$eventBus.$emit(EVENT_BUS.OPEN_CONFIRM_DIALOG, {
        message: "common_text_confirm_before_delete"
      });
      this.$eventBus.$once(EVENT_BUS.CLOSE_CONFIRM_DIALOG, status => {
        this.$eventBus.$off(EVENT_BUS.CLOSE_CONFIRM_DIALOG);
        if (status) {
          const vId = row.id;
          if (vId === null || vId === undefined) {
            return;
          } else {
            this.localLoading = true;
            this.DELETE_MAC_FILTERING({
              id: vId,
              options: {
                showLoading: true
              }
            }).then(() => {
              this.onAdding = this.isAdd;
              this.fetchData(true);
            });
          }
        }
      });
    },
    openAdd(value) {
      if (value) {
        this.dataAdd = new MacFilteringRule();
      } else {
        this.dataAdd = null;
      }
      this.isAdd = value;
      this.isDisableAddButton = value;
      this.$forceUpdate();
    },
    onClickSaveAdd() {
      this.localLoading = true;
      const postData = this.dataAdd.exportPostData();
      this.CREATE_MAC_FILTERING({
        postData: postData,
        options: {}
      }).then(() => {
        this.onAdding = false;
        this.localLoading = false;
        this.fetchData(true);
        this.isDisableAddButton = false;
        this.dataAdd = null;
      });
    },
    onSelectMac(item) {
      if (item === null || item === undefined) {
        return;
      }
      this.dataAdd.macAddress = item.macAddress;
      this.dataAdd.name = item.name ? item.name : defaultDeviceName;
    }
  }
};
</script>
<style lang="scss">
@import "./index.scss";
</style>
