//dialog
.dialog-template {
  .el-dialog__wrapper {
    // left: $width-nav-bar !important;
    .el-dialog__header {
      text-align: left;
    }
    .dialog-footer-button-wrap {
      .el-button {
        &.right {
          float: right;
        }
        &.left {
          float: left;
        }
      }
    }
  }
}
.nested-dialog-template {
  .nested-message {
    padding-bottom: 20px;
    text-align: center;
  }
  .dialog-nested-footer-button-wrap {
    .el-button {
      width: 100%;
      &.right {
        float: right;
      }
      &.left {
        float: left;
      }
    }
  }
}
