// Form
.form-wrap {
  min-height: 55px;
  margin: auto;
  float: left;
  .form-title {
    display: table;
    table-layout: fixed;
    padding-top: 10px;
    &.right {
      text-align: right;
    }
  }
  .form-input {
    display: table;
    table-layout: fixed;
    float: right;
  }
}

.add-form-button {
  max-height: 120px;
  .buton-wrap {
    .el-button {
      &.action-button {
        &.right {
          float: right;
        }
        &.left {
          float: left;
        }
      }
    }
  }
}
