.el-input__inner {
  font-size: $font-size-text;
  font-weight: 400;
  color: $color-text-primary;
  text-align: left;
  &:focus {
    border-color: $color-border-focus;
  }
  &::placeholder {
    color: $color-placeholder;
  }
}

.error-input {
  .el-input__inner {
    border-color: $color-border-error;
    &:hover {
      border-color: $color-border-error;
    }
    &:focus {
      border-color: $color-border-focus;
    }
  }
}
