body {
  font-family: $font-family;
}
.border-page {
  border: 2px solid $color-border-normal;
}
.bg-purple {
  background: $common-page-color;
}
.bg-white {
  background: $common-white;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
.el-col {
}
.el-row {
  height: 100%;
}
.max-height {
  height: 100%;
}

.app-body-wrap {
  display: inline;
}

.el-aside#app-aside {
  width: $width-nav-bar !important;
  overflow: unset;
}

.el-header#app-header {
  height: $app-header-heigh !important;
  &.has-boder {
    border-bottom: 1px solid $color-border-normal;
  }
}

.el-main#app-body {
  // styled scrol
  &::-webkit-scrollbar {
    width: 7px;
    opacity: 0.7;
    padding: 1px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
    border-radius: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }
  }
}

.el-footer#app-footer {
  height: $app-footer-heigh !important;
}

.view-inner {
  width: $width-inner !important;
  margin: auto;
  .view-title {
    margin: auto;
    .title-header {
      &.left {
        text-align: left;
      }
    }
  }
}
