$font-family: "Roboto", Arial, Helvetica, san-serif;

$width-inner: 92%;
$width-nav-bar: 250px;

// font
$font-size-title: 18px;
$font-size-text: 13px;
// color
$color-text-primary: rgb(158, 153, 153);
$color-text-active: rgb(8, 8, 8);
$color-text-error: #f56c6c;
$color-placeholder: #c0c4cc;

//
$dialog-top: "30vh";
$app-header-heigh: 5vh;
$app-footer-heigh: 6vh;
//
$botton-suggest: #409eff;
$common-active: #67c23a;
$common-inactive: #909399;

// border
$color-border-error: #f56c6c;
$color-border-focus: #409eff;
$color-border-normal: #cccccc;

// background color
$common-white: #ffffff;
$common-page-color: #f0f2f1;
$bg-fotter-color: #f0f2f1;
$bg-body-color: #fef0f0;
