<template>
  <div>
    <Card :config="internetConfig">
      <div class="card-info" v-if="cData">
        <div class="wrap-card-form">
          <div class="wrap-card-title-form">
            <label class="wrap-title">WAN type</label>
          </div>
          <div class="wrap-card-text-form">
            <label class="wrap-text">{{cData.name}}</label>
          </div>
        </div>
        <div class="wrap-card-form">
          <div class="wrap-card-title-form">
            <label class="wrap-title">Connection Type</label>
          </div>
          <div class="wrap-card-text-form">
            <label class="wrap-text">{{cData.connectionType}}</label>
          </div>
        </div>
      </div>
    </Card>
  </div>
</template>
<script>
import Card from "@/components/base/card/Card";
export default {
  name: "Internet",
  components: {
    Card
  },
  props: {
    cData: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      internetConfig: {
        id: "internet-card-id",
        title: "Internet",
        showHeader: true,
        showButton: false
      }
    }
  }
}
</script>

