<template>
  <div class="view-inner home">
    <div class="view-title">
      <el-Row>
        <el-Col :span="18" class="title-header left">
          <h2 class="title-page" tabindex="0">{{$t('Home')}}</h2>
          <p class="sub-title-page" tabindex="0">{{$t('wireless_primary_network_subtitle')}}</p>
        </el-Col>
      </el-Row>
    </div>
    <div class="view-container">
      <el-row :gutter="30" v-if="!!wireless24 && !!wireless5 && !!cWan">
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
          <Wireless title="Wi-Fi 2.4GHz" :cData="wireless24" />
        </el-col>
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
          <Wireless title="Wi-Fi 5GHz" :cData="wireless5" />
        </el-col>
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
          <Internet :cData="cWan" />
        </el-col>
      </el-row>
      <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <DeviceConnectivity />
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import Wireless from "@/components/common/Home/Wireless/Wireless";
import Internet from "@/components/common/Home/Internet/Internet";
import DeviceConnectivity from "@/components/common/Home/ConnectedDevices/DeviceConnectivity";
import { mapGetters, mapActions } from "vuex";
import {
  SSID_24,
  SSID_5,
  RADIO_24,
  RADIO_5,
  SPECIFIC_WAN
} from "@/store/types/getters.type";
import {
  FETCH_SSID,
  FETCH_RADIO,
  FETCH_SPECIFIC_WAN
} from "@/store/types/actions.type";
import Utils from "@/common/utils";
export default {
  name: "VHome",
  data() {
    return {
      wireless24: null,
      wireless5: null,
      cWan: null
    };
  },
  components: {
    Wireless,
    Internet,
    DeviceConnectivity
  },
  computed: {
    ...mapGetters({
      SSID_24,
      RADIO_24,
      SSID_5,
      RADIO_5,
      SPECIFIC_WAN
    })
  },
  created() {
    this.fetchData();
  },
  methods: {
    ...mapActions({
      FETCH_SSID,
      FETCH_RADIO,
      FETCH_SPECIFIC_WAN
    }),
    initData() {
      if (!!this.SSID_24[0] && !!this.SSID_5[0]) {
        // do something if need
        this.wireless24 = Utils.copyObject(this.SSID_24[0]);
        this.wireless5 = Utils.copyObject(this.SSID_5[0]);
      }
      this.cWan = Utils.copyObject(this.SPECIFIC_WAN[0]);
    },
    fetchData() {
      let $q = [];
      if (!this.SSID_24[0]) {
        $q.push(
          this.FETCH_SSID({
            interfaceId: 0,
            ssid: 0,
            options: {}
          })
        );
      }
      if (!this.SSID_5[0]) {
        $q.push(
          this.FETCH_SSID({
            interfaceId: 1,
            ssid: 0,
            options: {}
          })
        );
      }
      if (this.SPECIFIC_WAN[0] === null || this.SPECIFIC_WAN[0] === undefined) {
        $q.push(
          this.FETCH_SPECIFIC_WAN({
            interfaceId: 0,
            options: {}
          })
        );
      }
      if (this.RADIO_24 === null) {
        this.FETCH_RADIO({
          interfaceId: 0,
          options: {}
        });
      }
      if (this.RADIO_5 === null) {
        this.FETCH_RADIO({
          interfaceId: 1,
          options: {}
        });
      }

      Promise.all($q).then(() => {
        this.initData();
      });
    }
  }
};
</script>

