<template>
  <div
    id="app"
    v-loading.fullscreen.lock="LOADING"
    element-loading-background="rgba(0, 0, 0, 0.8)"
    :element-loading-text="$t('waiting...')"
  >
    <div class="container">
      <div class="container-row">
        <el-container class="max-height">
          <el-aside class="bg-white" v-if="IS_AUTH" :key="IS_AUTH" id="app-aside">
            <Navbar />
          </el-aside>
          <el-container :class="{'bg-purple': IS_AUTH}" class="app-body-wrap">
            <el-header id="app-header" :class="{'has-boder' : IS_AUTH}">
              <Header v-if="IS_AUTH" />
            </el-header>
            <el-main id="app-body">
              <router-view />
            </el-main>
            <el-footer id="app-footer">
              <Footer v-if="IS_AUTH" />
            </el-footer>
            <ConfirmDialog
              v-if="isShowConfirm"
              :config="comfirmConfig"
              :onClickOK="() => onClickConfirm(true)"
              :onClickCancel="() => onClickConfirm(false)"
            />
          </el-container>
        </el-container>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { LOADING, IS_AUTH } from "@/store/types/getters.type";
import { LOGOUT } from "@/store/types/actions.type";

import { VALID_RULES } from "@/common/valid-rules";

import ConfirmDialog from "@/components/base/dialogs/DialogApp/ConfirmDialog/ConfirmDialog";
import Navbar from "./components/Navbar.vue";
import Footer from "@/components/common/Footer/Footer";
import Header from "@/components/common/Header/Header";

import Utils from "@/common/utils";
import Hash_Gen from "@/common/hash-gen";
import { EVENT_BUS, CONFIRM_DIALOG_TYPE } from "@/common/constants";
export default {
  name: "app",
  props: {
    msg: String
  },
  components: {
    Navbar,
    ConfirmDialog,
    Footer,
    Header
  },
  data() {
    return {
      isShowConfirm: false,
      comfirmConfig: {}
    };
  },
  created() {
    this.$router.beforeEach((to, from, next) => {
      if (from.name !== "login") {
        if (to.path === "/") {
          this.LOGOUT();
          next();
        } else {
          next();
        }
      } else {
        if (to.path === "/") {
          this.LOGOUT();
          next();
        } else {
          next();
        }
      }
    });
    if (this.$router.currentRoute.path === "/") {
      this.LOGOUT();
    }
  },
  computed: {
    ...mapGetters({ LOADING, IS_AUTH })
  },
  methods: {
    ...mapActions({ LOGOUT }),
    onClickConfirm(status) {
      this.isShowConfirm = false;
      this.$eventBus.$emit(EVENT_BUS.CLOSE_CONFIRM_DIALOG, status);
    },
    initVeeValidate() {
      VALID_RULES.forEach(item => {
        this.$validator.extend(item.id, {
          getMessage: () => item.msg,
          validate: item.validate
        });
      });
    },
    initEventBus() {
      const self = this;
      self.comfirmConfig = {};
      self.comfirmConfig.dialogType = CONFIRM_DIALOG_TYPE.CONFIRM;
      /**
       * Confirm
       */
      this.$eventBus.$on(EVENT_BUS.OPEN_CONFIRM_DIALOG, config => {
        self.isShowConfirm = true;
        if (config !== null && config !== undefined) {
          self.comfirmConfig = config;
          self.comfirmConfig.visible = true;
        } else {
          self.comfirmConfig.message = "";
          self.comfirmConfig.dialogType = CONFIRM_DIALOG_TYPE.CONFIRM;
          self.comfirmConfig.visible = true;
        }
      });

      this.$eventBus.$on(EVENT_BUS.SHOW_NOTIFICATION, data => {
        this.$notify({
          title: data.type.charAt(0).toUpperCase() + data.type.slice(1),
          message: data.msg,
          type: data.type
        });
      });
    }
  },
  mounted() {
    this.initVeeValidate();
    this.initEventBus();
  }
};
</script>

<style lang="scss">
@import "@/assets/styles/styles.scss";
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  .container {
    height: 100%;
    .container-row {
      width: 100%;
      height: 100%;
      .page-container {
        padding: 8px;
        height: inherit;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    }
  }
}
</style>
