<template>
  <DialogBase :config="ownConfig" :onClickOK="onClickOK" :onClickCancel="onClickCancel">
    <div class="confirm-dialog-content">
      <span class="message" v-html="$t(dialogContent.message)"></span>
    </div>
  </DialogBase>
</template>

<script>
import DialogBase from "@/components/base/dialogs/DialogApp/DialogSystemTemplate";
import { CONFIRM_DIALOG_TYPE } from "@/common/constants";
export default {
  name: "ConfirmDialog",
  props: {
    config: {
      type: Object,
      required: true
    },
    onClickOK: {
      type: Function,
      required: true,
      default() {
        return function() {
          return false;
        };
      }
    },
    onClickCancel: {
      type: Function,
      required: true,
      default() {
        return function() {
          return false;
        };
      }
    }
  },
  components: {
    DialogBase
  },
  data() {
    return {
      ownConfig: { ...this.$props.config },
      dialogType: CONFIRM_DIALOG_TYPE,
      currentType: CONFIRM_DIALOG_TYPE.CONFIRM,
      dialogContent: {}
    };
  },
  methods: {
    initData() {
      if (this.ownConfig.hasOwnProperty("dialogType")) {
        this.currentType = this.ownConfig.dialogType;
      }
      // Confirm dialog
      if (
        this.currentType === CONFIRM_DIALOG_TYPE.CONFIRM &&
        this.ownConfig.hasOwnProperty("message")
      ) {
        this.dialogContent.message = this.ownConfig.message;
      } else {
        this.dialogContent.message = "";
      }
    }
  },
  created() {
    this.initData();
  }
};
</script>

<style lang="scss">
@import "./index.scss";
</style>
