<template>
  <div class="swith-template">
    <el-switch :class="$props.switchType" v-model="vModel" @change="value => onChange(value)"></el-switch>
  </div>
</template>

<script>
export default {
  name: "CommonSwitch",
  props: {
    vdata: {
      type: Boolean,
      required: true
    },
    switchType: {
      type: String,
      required: false,
      default() {
        return "default";
      }
    }
  },
  data() {
    return {
      vModel: false
    };
  },
  methods: {
    initData() {
      this.vModel = this.$props.vdata;
    },
    onChange(value) {
      this.vModel = value;
      this.$emit("on-change", this.vModel);
    }
  },
  created() {
    this.initData();
  }
};
</script>

<style lang="scss">
@import "./index.scss";
</style>
