.swith-template {
  .el-switch {
    .el-switch__core {
      border-color: $common-inactive;
      background-color: $common-inactive;
    }
    &.primary {
      &.is-checked {
        .el-switch__core {
          border-color: $common-active;
          background-color: $common-active;
        }
      }
    }

    // Define some type here
  }
}
