<template>
  <div class="footer-wrap">
    <el-Row type="flex" justify="space-between">
      <el-Col
        :xs="20"
        :sm="20"
        :md="8"
        :lg="8"
        :xl="8"
        class="footer-status"
      >Firmware Version 0.1.14</el-Col>
      <el-Col :span="4" class="footer-system">
        <div class="icon-table-wrap">
          <el-tooltip placement="bottom" effect="light">
            <div slot="content">{{$t('Logout')}}</div>
            <i
              class="el-icon-switch-button"
              :class="`icon large`"
              @click.prevent="() => onLogout()"
            ></i>
          </el-tooltip>
        </div>
      </el-Col>
    </el-Row>
  </div>
</template>

<script>
import { LOGOUT } from "@/store/types/actions.type";
import { EVENT_BUS } from "@/common/constants";
import { mapActions } from "vuex";
export default {
  name: "Footer",
  components: {},
  data() {
    return {};
  },
  methods: {
    ...mapActions({
      LOGOUT
    }),
    onLogout() {
      this.$eventBus.$emit(EVENT_BUS.OPEN_CONFIRM_DIALOG, {
        message: "Do you want to Logout?"
      });
      this.$eventBus.$once(EVENT_BUS.CLOSE_CONFIRM_DIALOG, status => {
        this.$eventBus.$off(EVENT_BUS.CLOSE_CONFIRM_DIALOG);
        if (status) {
          this.LOGOUT().then(() => {
            this.$router.push("/");
          });
        }
      });
    }
  }
};
</script>

<style lang="scss">
@import "./index.scss";
</style>

