.footer-wrap {
  padding: 5px 0px;
  max-width: $width-inner;
  font-size: $font-size-text;
  color: $color-text-primary;
  margin: auto;
  .footer-status {
    text-align: left;
  }
  .footer-system {
    text-align: right;
  }
}
