<template>
  <div class="view-inner home">
    <div class="view-title">
      <el-Row>
        <el-Col :span="18" class="title-header left">
          <h2 class="title-page" tabindex="0">{{$t('wireless_page_title')}}</h2>
          <p class="sub-title-page" tabindex="0">{{$t('wireless_page_subtitle')}}</p>
        </el-Col>
      </el-Row>
    </div>
    <div class="view-container">
      <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <GuestNetwork type="24g" />
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
import GuestNetwork from "@/components/common/GuestNetwork/GuestNetwork";
import Table from "@/components/base/Table/Table";

export default {
  components: {
    GuestNetwork,
    Table
  },
  data() {
    return {
    };
  },
  methods: {
  }
};
</script>
 <style lang="scss">
.guest-network {
  width: 1080px;
  margin: auto;
  .view-title {
    .title-page,
    .sub-title-page {
      text-align: left;
    }
  }
}
</style>>